SECRET_KEY="this_IS_secr3t"
DEVENV="docker"
MAPIT_URL="https://mapit.mysociety.org/"
MAPIT_API_KEY=""
GOOGLE_ANALYTICS=""
GOOGLE_SITE_VERIFICATION=""
MAILCHIMP_MYSOC_KEY=""
MAILCHIMP_MYSOC_SERVER_PREFIX=""
MAILCHIMP_MYSOC_LIST_ID=""
MAILCHIMP_TCC_KEY=""
MAILCHIMP_TCC_SERVER_PREFIX=""
MAILCHIMP_TCC_LIST_ID=""

ELECTORAL_COMMISSION_API_KEY=

ALLOWED_HOSTS=localhost
BASE_URL=http://localhost:8000
FRONTEND_BASE_URL=http://localhost:3000
FRONTEND_SITE_TITLE=Mapped

TEST_AIRTABLE_MEMBERLIST_BASE_ID="appWEAndAXvvkWOOk"
TEST_AIRTABLE_MEMBERLIST_TABLE_NAME="tblZgqntln3DX1lCk"
TEST_AIRTABLE_MEMBERLIST_API_KEY="..."

TEST_AIRTABLE_CUSTOMDATALAYER_BASE_ID="appWEAndAXvvkWOOk"
TEST_AIRTABLE_CUSTOMDATALAYER_TABLE_NAME="tblS110UOA2cnEnFL"
TEST_AIRTABLE_CUSTOMDATALAYER_API_KEY="..."

TEST_MAILCHIMP_MEMBERLIST_API_KEY="a7df3b71ed5a59b003554e7bbfb3c2e3-us22"
TEST_MAILCHIMP_MEMBERLIST_AUDIENCE_ID="..."

SENTRY_DSN="..."
ENVIRONMENT="development"

CRYPTOGRAPHY_KEY=somemadeupcryptographickeywhichshouldbereplaced
CRYPTOGRAPHY_SALT=somesaltthatshouldbereplaced
ENCRYPTION_SECRET_KEY=somemadeupcryptographickeywhichshouldbereplaced
