.venv
__pycache__
.env
.env.local
.static/**/*
!.static/.gitkeep
.coverage
.media
data/**/*
!data/.gitkeep
!data/areas_minimal.psql.zip
.next

conf/env
conf/env.deployed
conf/httpd.conf
conf/httpd.conf.deployed

node_modules
build/**/*
!build/.gitkeep
profile.json

profile.html

# Database dumps
meep*.psql

# Project setup marker
.ck_setup_complete