[tool.poetry]
name = "local-intelligence-hub"
version = "0.1.0"
description = ""
authors = ["Your Name <you@example.com>"]

[tool.poetry.dependencies]
python = "^3.9"
Django = "4.1.7"
django-bootstrap5 = "^22.1"
django-environ = "^0.9.0"
django-sslserver = "^0.22"
psycopg2 = "^2.9.3"
django-libsass = "^0.9"
requests-cache = "^0.9.6"
Pillow = "^9.3.0"
python-magic = "^0.4.27"
tqdm = "^4.64.1"
pandas = "^1.5.1"
openpyxl = "^3.0.10"
mysoc-dataset = "^0.2.2"
django-jsonform = "^2.15.0"
lxml = "^4.9.2"
beautifulsoup4 = "^4.11.1"

[tool.poetry.dev-dependencies]
django-debug-toolbar = "^3.7.0"
black = "^22.8.0"
coverage = "^6.5.0"
flake8 = "^5.0.4"
isort = "^5.10.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
default_section = "THIRDPARTY"
known_first_party = "hub"
known_django = "django"
sections = ["FUTURE", "STDLIB", "DJANGO", "THIRDPARTY", "FIRSTPARTY", "LOCALFOLDER"]
extend_skip = ["migrations"]
