{% extends "hub/base.html" %}

{% load static django_bootstrap5 %}

{% block content %}

<div class="py-4 py-lg-5 bg-green-100">
    <div class="container">
        <h1 class="display-2 mb-3">Local Intelligence Hub</h1>
        <p class="fs-4" style="max-width: 26em;">Your starting point for data about MPs, constituencies, and local climate activity across the UK.</p>
    </div>
</div>

<div class="py-5">
    <div class="container">

        <h1 class="mb-4">Sign in</h1>

        <div style="max-width: 30em">
            <p>During this initial launch phase, an account is required to access any data on the Local Intelligence Hub.</p>
            <p><strong>If you don’t yet have an account</strong>, and are associated with any Climate Coalition member organisation, <a href="{% url 'signup' %}">you can request an account here</a>.</p>
            <p>Later this year, we hope to make <em>public</em> data available to visitors without an account, but an account will still be required to access members-only data.</p>
        </div>

        <form method="post" action="{% url 'login' %}" class="my-5" style="max-width: 30em">
            {% csrf_token %}
            {% bootstrap_label "Email address" label_for="username" label_class="form-label" %}
            {% bootstrap_field form.username show_label='skip' %}
            {% bootstrap_form form exclude='username' %}
            <input type="hidden" name="next" value="{% url 'home' %}">
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>

        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>

    </div>
</div>

{% endblock %}
