{% extends "hub/base.html" %}

{% block content %}


<div class="py-4 py-lg-5 bg-green-100">
    <div class="container">
        <div class="d-flex align-items-center mb-4 mb-lg-5">
            <a href="{% url 'home' %}">
                {% include 'hub/includes/icons/tcc-logo.html' with classes="me-auto" width="8rem" height="auto" %}
            </a>
            <ul class="nav list-unstyled ms-auto d-none d-lg-flex">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">Add data</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link">Sign in</span>
                </li>
            </ul>
        </div>
        <h1 class="display-2 mb-3">Local Intelligence Hub</h1>
        <p class="fs-4" style="max-width: 26em;">Your starting point for data about MPs, constituencies, and local climate activity across the UK.</p>
    </div>
</div>

<div class="py-5">
    <div class="container mt-lg-3">
        <div class="row">
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

            <form method="post">
                {% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-row field-email">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                    </div>
                    <input type="submit" value="Reset my password">
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div class="footer"></div>

{% endblock %}
