$osm-sea-blue: rgb(168, 212, 243);

[v-cloak] {
    display: none !important;
}

@include media-breakpoint-up('md') {
    .page-explore .site-footer,
    .page-explore .site-feedback {
        display: none !important;
    }
}

.explore-filters {
    overflow: auto;
    border-bottom: 1px solid $border-color;

    // Make area_type select match the .btn-outline-secondary buttons below.
    .form-select-lg {
        border-color: $secondary;
    }
}

.explore-results {
    overflow: auto;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
}

.explore-status {
    flex: 0 0 auto;
    padding: 0.5rem 15px; // match 15px indent of leaflet map controls
    background: mix($osm-sea-blue, #fff, 70%);
    border-bottom: 1px solid mix($osm-sea-blue, #fff, 50%);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--warning {
        background: $red-100;
        border-bottom-color: $red-200;
    }
}

.explore-map {
    flex: 1 1 auto;
    background: $osm-sea-blue;
}

.dataset-modal {
    // Full-width modal, even on large screens.
    .modal-dialog {
        margin: var(--#{$prefix}modal-margin);
        max-width: none;
    }
}

.dataset-modal,
.area-type-modal {
    .list-group {
        --#{$prefix}list-group-item-padding-y: 0.75em;
    }
}

@include media-breakpoint-up(md) {
    .page-explore .navbar {
        height: 95px;
    }

    .explore {
        height: calc( 100vh - 95px );
        display: flex;
    }

    .explore-filters {
        flex: 0 0 50%;
        max-width: 35em;
        border-right: 1px solid $border-color;
        border-bottom: 0;
    }

    .explore-results {
        flex: 1 1 50%;
        min-height: 0;
    }
}

.explore-filters__intro {
    background: linear-gradient($body-bg, rgba($green-100, 0.3))
}

.filter {
    padding: map-get($spacers, 3);
    margin-bottom: map-get($spacers, 4);
    border-radius: $border-radius;
    background: $gray-100;
    border: 1px solid $gray-300;
}

.filter--unavailable {
    background: $red-100;
    border-color: $red-200;
}

.filter__header {
    display: flex;

    h6 {
        margin-bottom: 0;
        margin-right: auto;
    }

    .btn-close {
        margin-left: map-get($spacers, 2);
        flex-shrink: 0;
    }
}

.filter__body {
    display: flex;
    margin-left: (map-get($spacers, 3) * -1);

    & > * {
        margin-top: map-get($spacers, 3);
        margin-left: map-get($spacers, 3);
    }
}

.filter__body--expanded {
    flex-wrap: wrap;
}

.explore-table {
    .table {
        --bs-table-bg: #{$white};
        --bs-border-color: transparent;
        margin-bottom: 0;

        thead {
            position: sticky;
            top: 0;
            box-shadow: 0 0 10px rgba($black, 0.1), 0 1px 0 $border-color;
        }
    }
}

.leaflet-tooltip {
    font-family: var(--bs-body-font-family);
    font-size: $font-size-sm;
    line-height: 1.3;
    padding: 0.4rem 0.5rem;

    .table {
        width: 20em;
        margin: 0.25rem 0 0 0;
        white-space: normal;

        &:empty {
            display: none;
        }

        tr:last-child > * {
            border-bottom: none;
            padding-bottom: 0;
        }

        tr > :first-child {
            padding-left: 0;
        }

        tr > :last-child {
            text-align: right;
            padding-right: 0;
            white-space: nowrap;
        }
    }
}
