.explore-filters {
    overflow: auto;
    border-bottom: 1px solid $border-color;
}

.explore-results {
    overflow: auto;
    position: relative;
    min-height: 70vh;
}

.explore-map {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@include media-breakpoint-up(md) {
    .explore {
        height: calc( 100vh - 100px );
        display: flex;
    }

    .explore-filters {
        flex: 0 0 50%;
        max-width: 35em;
        border-right: 1px solid $border-color;
        border-bottom: 0;
    }

    .explore-results {
        flex: 1 1 50%;
        min-height: 0;
    }
}

.explore-filters__intro {
    background: linear-gradient($body-bg, rgba($green-100, 0.3))
}

.filter {
    margin-bottom: map-get($spacers, 4);
}

.filter__header {
    display: flex;

    h6 {
        margin-bottom: 0;
        margin-right: auto;
    }

    .btn-close {
        margin-left: map-get($spacers, 2);
        flex-shrink: 0;
    }
}

.filter__body {
    display: flex;
    margin-left: (map-get($spacers, 3) * -1);

    & > * {
        margin-top: map-get($spacers, 3);
        margin-left: map-get($spacers, 3);
    }
}

.filter__body--expanded {
    flex-wrap: wrap;
}

.explore-table {
    .table {
        --bs-table-bg: #{$white};
        --bs-border-color: transparent;
        margin-bottom: 0;

        thead {
            position: sticky;
            top: 0;
            box-shadow: 0 0 10px rgba($black, 0.1), 0 1px 0 $border-color;
        }
    }
}

.leaflet-tooltip {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    line-height: 1.3;
    padding: 0.4rem 0.5rem;

    .table {
        margin: 0.25rem 0 0 0;

        tr:last-child > * {
            border-bottom: none;
            padding-bottom: 0;
        }

        tr > :first-child {
            padding-left: 0;
        }

        tr > :last-child {
            text-align: right;
            padding-right: 0;
        }
    }
}
