.homepage-search-section {
    background-color: $homepage-search-section-bg;
}

.homepage-map-section {
    background: #fff url('../img/map.webp') 100% 50% no-repeat;
    background-size: auto 130%;

    @include media-breakpoint-up('lg') {
        background-position: 100% 70%;
        background-size: auto 180%;
    }

    @include media-breakpoint-up('xl') {
        background-position: 80% 70%;
    }

    & > .container > .row {
        & > :first-child {
            background-image: linear-gradient(180deg, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, 0) 100%);

            @include media-breakpoint-up('lg') {
                background-image: linear-gradient(90deg, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 0) 100%)
            }
        }

        & > :last-child {
            max-width: 32rem;
        }

        & > a {
            text-decoration: none;
            color: inherit;
        }
    }

    .filter {
        min-width: 80%;
        margin-bottom: 1.5rem;
    }

    .filter__header {
        display: flex;

        h6 {
            margin-bottom: 0;
            margin-right: auto;
        }

        .btn-close {
            margin-left: map-get($spacers, 2);
            flex-shrink: 0;
        }
    }

    .filter__body {
        display: flex;
        margin-left: (map-get($spacers, 3) * -1);

        & > * {
            margin-top: map-get($spacers, 3);
            margin-left: map-get($spacers, 3);
        }
    }
}

.homepage-canned-queries {
    --#{$prefix}gutter-x: #{$grid-gutter-width};
    --#{$prefix}gutter-y: #{$grid-gutter-width};

    display: grid;
    gap: var(--#{$prefix}gutter-x) var(--#{$prefix}gutter-y);
    grid-template-columns: 1fr;

    @include media-breakpoint-up(sm) {
        grid-template-columns: 1fr 1fr;
    }

    & > * {
        --#{$prefix}card-spacer-y: #{$card-spacer-y};
        --#{$prefix}card-spacer-x: #{$card-spacer-x};
        --#{$prefix}card-border-width: #{$card-border-width};
        --#{$prefix}card-border-color: #{$card-border-color};
        --#{$prefix}card-border-radius: #{$card-border-radius};
        --#{$prefix}card-box-shadow: #{$card-box-shadow};
        --#{$prefix}card-bg: #{$card-bg};

        // vertical and horizontal content centering
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        // card styling
        background-color: var(--#{$prefix}card-bg);
        background-clip: border-box;
        border: var(--#{$prefix}card-border-width) solid var(--#{$prefix}card-border-color);
        @include border-radius(var(--#{$prefix}card-border-radius));
        @include box-shadow(var(--#{$prefix}card-box-shadow));
        padding: var(--#{$prefix}card-spacer-y) var(--#{$prefix}card-spacer-x);
    }
}
