mark {
    color: inherit;
}

.readable {
    max-width: 40rem;

    * + {
        h1, h2, h3, h4, h5, h6,
        .h1, .h2, .h3, .h4, .h5, .h6 {
            margin-top: 2rem;

            @include media-breakpoint-up(sm) {
                margin-bottom: 1rem;
            }
        }
    }
}

$headings-text-transform: null !default;
$display-text-transform: null !default;

@if $headings-text-transform {
    %heading {
        text-transform: $headings-text-transform;
    }
}

@if $display-text-transform {
    @each $display, $font-size in $display-font-sizes {
        .display-#{$display} {
            text-transform: $headings-text-transform;
        }
    }
}
