// Color system

// Colours picked from the TCC / Great Big Green Week websites,
// named after the closest matching X11 / CSS color name.
$color-tcc-ivory-green: #edf5e1;
$color-tcc-sea-green: #89c489;
$color-tcc-dark-cyan: #1ba781;
$color-tcc-turquoise: #068670; // 4.51 contrast with #fff
$color-tcc-green-gray: #063a40;
$color-tcc-tomato-orange: #ed6832;
$color-tcc-goldenrod: #fec835;
$color-tcc-moccasin: #ffe8b0;
$color-tcc-dodger-blue: #21a8e0;
$color-tcc-blue-gray: #202449;

$black: #000;
$white: #fff;

$orange: $color-tcc-tomato-orange;

$yellow: $color-tcc-goldenrod;
$yellow-100: mix(#fff, $color-tcc-moccasin, 50%);
$yellow-200: $color-tcc-moccasin;
$yellow-300: mix($color-tcc-goldenrod, $color-tcc-moccasin, 33.33%);
$yellow-400: mix($color-tcc-goldenrod, $color-tcc-moccasin, 66.66%);
$yellow-500: $color-tcc-goldenrod;

$blue: $color-tcc-dodger-blue;
$blue-500: $color-tcc-dodger-blue;
$blue-600: mix($color-tcc-blue-gray, $color-tcc-dodger-blue, 25%);
$blue-700: mix($color-tcc-blue-gray, $color-tcc-dodger-blue, 50%);
$blue-800: mix($color-tcc-blue-gray, $color-tcc-dodger-blue, 75%);
$blue-900: $color-tcc-blue-gray;

$green: darken($color-tcc-sea-green, 10%);
$green-100: $color-tcc-ivory-green;
$green-200: mix($color-tcc-sea-green, $color-tcc-ivory-green, 33.33%);
$green-300: mix($color-tcc-sea-green, $color-tcc-ivory-green, 66.66%);
$green-400: $color-tcc-sea-green;
$green-500: darken($color-tcc-sea-green, 10%);
$green-600: darken($color-tcc-sea-green, 25%);
$green-700: darken($color-tcc-sea-green, 35%);
$green-800: darken($color-tcc-sea-green, 45%);
$green-900: darken($color-tcc-sea-green, 55%);

$teal: $color-tcc-dark-cyan;
$teal-100: mix($white, $color-tcc-dark-cyan, 80%);
$teal-200: mix($white, $color-tcc-dark-cyan, 60%);
$teal-300: mix($white, $color-tcc-dark-cyan, 40%);
$teal-400: mix($white, $color-tcc-dark-cyan, 20%);
$teal-500: $color-tcc-dark-cyan;
$teal-600: $color-tcc-turquoise;
$teal-700: mix($color-tcc-green-gray, $color-tcc-turquoise, 50%);
$teal-800: $color-tcc-green-gray;
$teal-900: mix($black, $color-tcc-green-gray, 40%);

$primary: $color-tcc-turquoise;
$success: $color-tcc-sea-green;
$dark: $color-tcc-green-gray;

// Options

$enable-shadows: true;
$enable-negative-margins: true;

// Gradient

// Spacing

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4.5,
  7: $spacer * 6,
  8: $spacer * 8
);

// Position

// Body

// Utilities maps

// Links

$link-color: $green-600;
$link-shade-percentage: 20%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);

// Paragraphs

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Grid columns

// Container padding

// Components

// Typography

$font-family-sans-serif: "Public Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-size-base: 1rem;
$font-size-sm: $font-size-base * .875;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size,
  7: $font-size-sm,
  8: $font-size-base * 0.75,
  9: $font-size-base * 0.66,
  10: $font-size-base * 0.5
);

$headings-font-weight: 800;
$headings-line-height: 1.1;

$display-font-weight: 800;

$lead-font-weight: 500;

$legend-font-size: 1rem;

$mark-padding: 0;
$mark-bg: #fff55a;

// Tables

// Buttons + Forms

// Buttons

$btn-font-weight: bold;

// Forms

$form-label-font-weight: bold;

// Form validation

// Z-index master list

// Navs

// Navbar

$navbar-padding-y: $spacer * 1.5;

$navbar-brand-font-size: 1em;
$navbar-brand-padding-y: 0;

$navbar-toggler-padding-y: 0.5rem;
$navbar-toggler-padding-x: 0.75rem;

$navbar-light-color: $black;
$navbar-light-hover-color: $link-hover-color;
$navbar-light-active-color: $green-600;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$navbar-light-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/></svg>");

// Dropdowns

// Pagination

// Placeholders

// Cards

// Accordion

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

$modal-title-line-height: 1;

// Alerts

// Progress bars

// List group

$list-group-action-hover-color: $link-hover-color;

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Offcanvas

// Code
