// Color system

// Colours picked from the TCC / Great Big Green Week websites,
// named after the closest matching X11 / CSS color name.
$color-tcc-ivory-green: #edf5e1;
$color-tcc-sea-green: #89c489;
$color-tcc-dark-cyan: #1ba781;
$color-tcc-turquoise: #068670; // 4.51 contrast with #fff
$color-tcc-green-gray: #063a40;
$color-tcc-tomato-orange: #ed6832;
$color-tcc-goldenrod: #fec835;
$color-tcc-moccasin: #ffe8b0;
$color-tcc-dodger-blue: #21a8e0;
$color-tcc-blue-gray: #202449;

$black: #000;
$white: #fff;

$orange: $color-tcc-tomato-orange;

$yellow: $color-tcc-goldenrod;
$yellow-100: mix(#fff, $color-tcc-moccasin, 50%);
$yellow-200: $color-tcc-moccasin;
$yellow-300: mix($color-tcc-goldenrod, $color-tcc-moccasin, 33.33%);
$yellow-400: mix($color-tcc-goldenrod, $color-tcc-moccasin, 66.66%);
$yellow-500: $color-tcc-goldenrod;

$blue: $color-tcc-dodger-blue;
$blue-500: $color-tcc-dodger-blue;
$blue-600: mix($color-tcc-blue-gray, $color-tcc-dodger-blue, 25%);
$blue-700: mix($color-tcc-blue-gray, $color-tcc-dodger-blue, 50%);
$blue-800: mix($color-tcc-blue-gray, $color-tcc-dodger-blue, 75%);
$blue-900: $color-tcc-blue-gray;

$green: darken($color-tcc-sea-green, 10%);
$green-100: $color-tcc-ivory-green;
$green-200: mix($color-tcc-sea-green, $color-tcc-ivory-green, 33.33%);
$green-300: mix($color-tcc-sea-green, $color-tcc-ivory-green, 66.66%);
$green-400: $color-tcc-sea-green;
$green-500: darken($color-tcc-sea-green, 10%);
$green-600: darken($color-tcc-sea-green, 25%);
$green-700: darken($color-tcc-sea-green, 35%);
$green-800: darken($color-tcc-sea-green, 45%);
$green-900: darken($color-tcc-sea-green, 55%);

$teal: $color-tcc-dark-cyan;
$teal-100: mix($white, $color-tcc-dark-cyan, 80%);
$teal-200: mix($white, $color-tcc-dark-cyan, 60%);
$teal-300: mix($white, $color-tcc-dark-cyan, 40%);
$teal-400: mix($white, $color-tcc-dark-cyan, 20%);
$teal-500: $color-tcc-dark-cyan;
$teal-600: $color-tcc-turquoise;
$teal-700: mix($color-tcc-green-gray, $color-tcc-turquoise, 50%);
$teal-800: $color-tcc-green-gray;
$teal-900: mix($black, $color-tcc-green-gray, 40%);

$primary: $color-tcc-turquoise;
$success: $color-tcc-sea-green;
$dark: $color-tcc-green-gray;

// Options

$enable-shadows: true;
$enable-negative-margins: true;

// Gradient

// Spacing

// Position

// Body

// Utilities maps

// Links

$link-color: $green-600;
$link-shade-percentage: 20%;
$link-hover-color: shift-color($link-color, $link-shade-percentage);

// Paragraphs

// Grid breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Grid columns

// Container padding

// Components

// Typography

$font-family-sans-serif: "Public Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$headings-font-weight: 800;
$headings-line-height: 1.1;

$display-font-weight: 800;

$lead-font-weight: 500;

$legend-font-size: 1rem;

// Tables

// Buttons + Forms

// Buttons

$btn-font-weight: bold;

// Forms

$form-label-font-weight: bold;

// Form validation

// Z-index master list

// Navs

// Navbar

// Dropdowns

// Pagination

// Placeholders

// Cards

// Accordion

// Tooltips

// Popovers

// Toasts

// Badges

// Modals

$modal-title-line-height: 1;

// Alerts

// Progress bars

// List group

$list-group-action-hover-color: $link-hover-color;

// Image thumbnails

// Figures

// Breadcrumbs

// Carousel

// Spinners

// Close

// Offcanvas

// Code
