{% load hub_filters %}
{% load siteinclude %}

<div class="site-footer py-5">
    <div class="container">
        <h2 class="h4 mb-3">{{ site_title }}</h2>
        <div class="row mb-n4">
            <div class="col-md-6 mb-4">
                <p class="mb-0">Analyse and explore data about elected representatives, public opinion, local demographics, and VAWG sector activity, to supercharge your campaigning and organising efforts.</p>
            </div>
            <div class="col-md-6 col-lg-5 offset-lg-1 mb-4 d-print-none">
                <ul class="nav site-footer__nav">
                    {% include 'hub/includes/nav-item.html' with name='about' label='About' %}
                    {% include 'hub/includes/nav-item.html' with name='privacy' label='Privacy policy' %}
                    {% include 'hub/includes/nav-item.html' with name='sources' label='Data sources' %}
                    {% include 'hub/includes/nav-item.html' with name='terms' label='Terms of use' %}
                    {% include 'hub/includes/nav-item.html' with name='contact' label='Contact us' %}
                  {% if perms.auth.edit_user %}
                    {% pending_account_requests as num %}
                    {% include 'hub/includes/nav-item.html' with name='accounts' label='Accounts' badge=num %}
                  {% endif %}
                </ul>
            </div>
        </div>
        <hr class="my-4 my-md-5">
        <div class="row mb-n4">
            <div class="col-lg-5 mb-4">
                <div class="fs-7 d-flex flex-wrap">
                    <div class="site-footer__org mb-3 me-4 me-xl-5">
                        <span>A service from</span>
                        <div class="d-flex align-items-center gap-4">
                            <a class="d-print-none" href="https://www.mysociety.org" aria-label="mySociety">
                                {% site_include 'hub/includes/icons/mysociety-logo.html' %}
                            </a>
                            <a class="d-none d-print-block" href="https://www.mysociety.org" aria-label="mySociety">
                                {% site_include 'hub/includes/icons/mysociety-logo-black.html' %}
                            </a>
                            <a class="d-print-none" href="https://www.endviolenceagainstwomen.org.uk" aria-label="End Violence Against Women">
                                {% site_include 'hub/includes/icons/evaw-logo-reversed.html' with width="48" height="54" %}
                            </a>
                            <a class="d-none d-print-block" href="https://www.endviolenceagainstwomen.org.uk" aria-label="End Violence Against Women">
                                {% site_include 'hub/includes/icons/evaw-logo.html' with width="48" height="54" %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <p class="fs-7 mb-0 site-footer__legals"><a href="https://www.mysociety.org">mySociety</a> is a registered charity (1076346) and a limited company (03277032). <a href="https://www.endviolenceagainstwomen.org.uk">End Violence Against Women</a> is a registered charity (1161132) and a limited company (7317881).
            </div>
            <div class="col-lg-3 mb-4">
                <ul class="site-footer__socials d-print-none">
                    <li>
                        <a href="https://github.com/mysociety/local-intelligence-hub/" aria-label="GitHub">
                            {% include 'hub/includes/icons/github-circle.html' %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
