<div class="modal fade wide-modal" tabindex="-1" ref="modal">
    <div class="modal-dialog shadow-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title h5 lh-1">Add ${ currentType }</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header bg-gray-100">
                <div class="search-input w-100">
                    {% include 'hub/includes/icons/search.html' %}
                    <input type="search" class="form-control" placeholder="Search all datasets…">
                </div>
            </div>
            <div class="modal-body">
                <div v-if="!loaded" class="row">
                    <div class="col-md-12 mb-0 mb-md-0">
                        Loading...
                    </div>
                </div>
                <div v-else class="row">
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h3 class="h5 text-primary">Public datasets</h3>
                        <div class="list-group mt-3 mt-lg-4">
                            <button v-for="dataset in publicDatasets" @click="addFilterOrShader(dataset.name)" class="list-group-item list-group-item-action">
                                <strong>${ dataset.title }</strong>
                                <small class="d-block text-muted">${ dataset.source }</small>
                            </button>
                        </div>
                        <button class="btn btn-sm btn-link w-100 mt-2">Show more…</button>
                    </div>
                    <div class="col-md-4 mb-4 mb-md-0">
                        <h3 class="h5 text-primary">Members-only datasets</h3>
                        <div class="p-3 mt-3 mt-lg-4 bg-yellow-100 rounded">
                            <p class="mb-2">These datasets are available only to The Climate Coalition member organisations.</p>
                            <p class="mb-0"><a href="#">Sign in</a> or <a href="#">Request an account</a></p>
                        </div>
                        <div class="list-group mt-3 mt-lg-4">
                            <div v-for="dataset in memberDatasets" class="list-group-item text-muted">
                                <strong>${ dataset.title }</strong>
                                <small class="d-block">${ dataset.source }</small>
                            </div>
                        </div>
                        <button class="btn btn-sm btn-link w-100 mt-2">Show more…</button>
                    </div>
                    <div class="col-md-4">
                        <h3 class="h5 text-primary">Your private datatsets</h3>
                        <div class="p-3 mt-3 mt-lg-4 bg-blue-100 rounded">
                            <p class="mb-2">You haven’t uploaded any datasets yet.</p>
                            <p class="mb-0"><a href="#">Sign in</a> or <a href="#">Request an account</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
