<div class="modal fade" tabindex="-1" ref="modal">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content overflow-hidden shadow-lg">
            <div class="modal-header">
                <h2 class="modal-title h5 lh-1">Add ${ currentType }</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body bg-gray-100">
                <div class="search-input w-100">
                    {% include 'hub/includes/icons/search.html' %}
                    <input type="search" class="form-control" placeholder="Find a dataset…" aria-label="Find a dataset…" v-model="searchText">
                </div>
                <div v-if="!datasetsLoaded" class="mt-3 text-center">
                    Loading…
                </div>
                <div v-if="favouriteDatasets.length">
                    <h3 class="h6 mt-4 text-primary">Your favourite datasets</h3>
                    <div class="list-group mt-3">
                        <button v-for="dataset in favouriteDatasets" @click="addFilterOrShader(dataset.name)" class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center">
                                <strong class="me-auto pe-3">${ dataset.title }</strong>
                                <span v-if="dataset.is_favourite" class="text-gray-500">
                                    {% include 'hub/includes/icons/heart-full.html' %}
                                </span>
                            </div>
                            <small class="d-block text-muted fs-8">
                                <template v-if="dataset.description">${ dataset.description }.</template>
                                Data from ${ dataset.source_label }.
                            </small>
                        </button>
                    </div>
                </div>
                <div v-if="featuredDatasets.length">
                    <h3 class="h6 mt-4 text-primary">Popular datasets</h3>
                    <div class="list-group mt-3">
                        <button v-for="dataset in featuredDatasets" @click="addFilterOrShader(dataset.name)" class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center">
                                <strong class="me-auto pe-3">${ dataset.title }</strong>
                                <span v-if="dataset.is_favourite" class="text-gray-500">
                                    {% include 'hub/includes/icons/heart-full.html' %}
                                </span>
                            </div>
                            <small class="d-block text-muted fs-8">
                                <template v-if="dataset.description">${ dataset.description }.</template>
                                Data from ${ dataset.source_label }.
                            </small>
                        </button>
                    </div>
                </div>
                <div v-if="otherDatasets.length">
                    <h3 class="h6 mt-4 text-primary">More datasets</h3>
                    <div class="list-group mt-3">
                        <button v-for="dataset in otherDatasets" @click="addFilterOrShader(dataset.name)" class="list-group-item list-group-item-action">
                            <div class="d-flex align-items-center">
                                <strong class="me-auto pe-3">${ dataset.title }</strong>
                                <span v-if="dataset.is_favourite" class="text-gray-500">
                                    {% include 'hub/includes/icons/heart-full.html' %}
                                </span>
                            </div>
                            <small class="d-block text-muted fs-8">
                                <template v-if="dataset.description">${ dataset.description }.</template>
                                Data from ${ dataset.source_label }.
                            </small>
                        </button>
                    </div>
                </div>
                <div v-else="!searchText">
                    <button class="btn btn-link mt-3 w-100" @click="toggleBrowseDatasets()">Browse more datasets</button>
                </div>
            </div>
        </div>
    </div>
</div>
