{% load static %}

<aside class="modal feedback-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hello!</h2>
                <button type="button" class="close" data-bs-dismiss="modal">Skip</button>
            </div>
            <div class="modal-body">
                <div class="team-avatars">
                    <div class="team-avatars__person" data-toggle="tooltip" data-placement="bottom" title="Alice">
                        <img src="{% static 'img/person.svg' %}" width="100" height="100" alt="Alice">
                    </div>
                    <div class="team-avatars__person" data-toggle="tooltip" data-placement="bottom" title="Esmee">
                        <img src="{% static 'img/person.svg' %}" width="100" height="100" alt="Esmee">
                    </div>
                    <div class="team-avatars__person" data-toggle="tooltip" data-placement="bottom" title="Struan">
                        <img src="{% static 'img/person.svg' %}" width="100" height="100" alt="Struan">
                    </div>
                    <div class="team-avatars__person" data-toggle="tooltip" data-placement="bottom" title="Zarino">
                        <img src="{% static 'img/person.svg' %}" width="100" height="100" alt="Zarino">
                    </div>
                </div>
                <p>We’re the team behind this site. We hope you find it useful! One thing we struggle with is knowing who’s using our site.</p>
                <fieldset class="mb-3" id="feedback-who">
                    <legend>Could you do us a massive favour and tell us <strong>what brought you here today?</strong></legend>
                    <div class="form-check">
                        <input class="form-check-input" id="feedback-who-tcc" type="checkbox">
                        <label class="form-check-label" for="feedback-who-tcc">I work for a national climate/nature organisation</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="feedback-who-activist" type="checkbox">
                        <label class="form-check-label" for="feedback-who-activist">I’m part of a local climate/nature action group</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="feedback-who-political" type="checkbox">
                        <label class="form-check-label" for="feedback-who-political">I’m a council officer, councillor, or politician</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="feedback-who-researcher" type="checkbox">
                        <label class="form-check-label" for="feedback-who-researcher">I’m a journalist or researcher</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="feedback-who-resident" type="checkbox">
                        <label class="form-check-label" for="feedback-who-resident">I’m just finding out about the place I live in</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="feedback-who-none" type="checkbox">
                        <label class="form-check-label" for="feedback-who-none">None of the above</label>
                    </div>
                </fieldset>
                <fieldset class="mb-3">
                    <legend>Would it be ok if we <strong>send you a short survey in a few days’ time</strong>, asking you about your experience of the site?</legend>
                    <div class="form-check">
                        <input class="form-check-input" id="feedback-followup-yes" name="feedback-followup" type="radio" value="yes">
                        <label class="mb-0 ml-2" for="feedback-followup-yes">Yes</label>
                    </div>
                    <div class="conditional-fields collapse">
                        <div class="form-group">
                            <label class="form-label" for="feedback-email">Your email address</label>
                            <input class="form-control" aria-describedby="feedback-email-hint" id="feedback-email" name="email" type="email">
                            <small class="form-text d-block" id="feedback-email-hint">We’ll use this to send you one survey email.</small>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" id="feedback-followup-no" name="feedback-followup" type="radio" value="no">
                        <label class="mb-0 ml-2" for="feedback-followup-no">No</label>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save answers</button>
            </div>
        </div>
    </div>
</aside>
<div class="modal-backdrop show"></div>
