<div class="site-footer py-5">
    <div class="container">
        <h2 class="h4 mb-3">Local Intelligence Hub</h2>
        <div class="row mb-n4">
            <div class="col-md-6 mb-4">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-6 col-lg-5 offset-lg-1 mb-4">
                <ul class="nav site-footer__nav">
                    <li class="nav-item w-50">
                        <a class="nav-link" href="{% url 'sources' %}">Data sources</a>
                    </li>
                    <li class="nav-item w-50">
                        <a class="nav-link" href="#">Privacy Policy</a>
                    </li>
                    <li class="nav-item w-50">
                        <a class="nav-link" href="https://www.theclimatecoalition.org/contact-us">Contact us</a>
                    </li>
                    <li class="nav-item w-50">
                        <a class="nav-link" href="https://www.theclimatecoalition.org/donate">Donate</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="my-4 my-md-5">
        <div class="row mb-n4">
            <div class="col-lg-5 mb-4">
                <div class="fs-7 d-flex">
                    <div class="site-footer__org me-4 me-xl-5">
                        <span>A service from</span>
                        <a href="https://www.theclimatecoalition.org" aria-label="The Climate Coalition">
                            {% include 'hub/includes/icons/tcc-logo.html' %}
                        </a>
                    </div>
                    <div class="site-footer__org">
                        <span>In partnership with</span>
                        <a href="https://www.mysociety.org" aria-label="mySociety">
                            {% include 'hub/includes/icons/mysociety-logo.html' %}
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <p class="fs-7 mb-0 site-footer__legals"><a href="https://www.theclimatecoalition.org">The Climate Coalition</a> is the operating name of The Climate Movement, a registered charity (1109973). <a href="https://www.mysociety.org">mySociety</a> is a registered charity (1076346) and a limited company (03277032).</p>
            </div>
            <div class="col-lg-3 mb-4">
                <ul class="site-footer__socials">
                    <li>
                        <a href="https://twitter.com/theccoalition/" aria-label="Twitter">
                            {% include 'hub/includes/icons/twitter.html' %}
                        </a>
                    </li>
                    <li>
                        <a href="https://facebook.com/theclimatecoalition/" aria-label="Facebook">
                            {% include 'hub/includes/icons/facebook.html' %}
                        </a>
                    </li>
                    <li>
                        <a href="https://instagram.com/theclimatecoalition/" aria-label="Instagram">
                            {% include 'hub/includes/icons/instagram.html' %}
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mysociety/local-intelligence-hub/" aria-label="GitHub">
                            {% include 'hub/includes/icons/github.html' %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
