SECRET_KEY="secr3t-k3y"
GOOGLE_ANALYTICS=""
GOOGLE_SITE_VERIFICATION=""
MAILCHIMP_MYSOC_KEY=""
MAILCHIMP_MYSOC_SERVER_PREFIX=""
MAILCHIMP_MYSOC_LIST_ID=""
MAILCHIMP_MYSOC_DATA_UPDATE_TAG=""
MAILCHIMP_MYSOC_CLIMATE_INTEREST=""
MAILCHIMP_TCC_KEY=""
MAILCHIMP_TCC_SERVER_PREFIX=""
MAILCHIMP_TCC_LIST_ID=""
