ul {
  list-style-type: disc;
  padding-left: 24px;
}

ol {
  list-style-type: decimal;
  padding-left: 24px;
}

a {
  text-decoration: underline;
}

.size-small {
  font-size: 16px;
}

.size-medium {
  font-size: 20px;
}

.size-large {
  font-size: 24px;
}

.size-huge {
  font-size: 39px;
  line-height: 1;
}
