{% extends "hub/base.html" %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <div class="readable">
            <h1>About the Local Intelligence&nbsp;Hub</h1>

            <h2 id="what" class="h4">What is the Local Intelligence&nbsp;Hub?</h2>

            <p>The Local Intelligence Hub is a platform to find and interrogate data about local MPs, constituencies, public opinion and the climate and nature movement.</p>

            <p>The Local Intelligence Hub supports national campaigning as well as local organising by community groups and individual campaigners. It enables community groups and individual campaigners to have informed conversations with their local political representatives or candidates for election, in order to demonstrate the diversity and scale of the public mandate for action on climate and nature in communities across the UK.</p>

            <h2 id="why" class="h4">Why did you make the Local Intelligence&nbsp;Hub?</h2>

            <p>In collaboration with mySociety and Green Alliance, The Climate Coalition created the Local Intelligence Hub to bring together (with both local and national views) disparate sets of publicly available and private data. We recognised lots of data was available, but not easily accessible in one place. We spotted a gap in the digital tools available to us and decided to create something new and useful to the climate, environment and development sectors.</p>

            <h2 id="who" class="h4">Who owns and/or manages the Local Intelligence&nbsp;Hub?</h2>

            <p>The Local Intelligence Hub is owned by The Climate Coalition. Management and maintenance of the platform is undertaken by The Climate Coalition and mySociety, with support from Green Alliance. If you see any data that is old or inaccurate, <a href="{% url 'contact' %}">please let us know</a>.</p>

            <div class="d-flex align-items-center flex-wrap my-4">
                <a href="https://www.theclimatecoalition.org" aria-label="The Climate Coalition">
                    {% include 'hub/includes/icons/tcc-logo.html' with classes="me-3 me-lg-4" width="128" height="39" %}
                </a>
                <a href="https://www.mysociety.org" aria-label="mySociety">
                    {% include 'hub/includes/icons/mysociety-logo-black.html' with width="128" height="27" classes="me-3 me-lg-4" %}
                </a>
                <a href="https://green-alliance.org.uk" aria-label="Green Alliance">
                    {% include 'hub/includes/icons/green-alliance-logo.html' with width="63" height="50" %}
                </a>
            </div>

            <h2 class="text-primary mt-5">Access</h2>

            <h3 id="access" class="h4">Who can view the information and data contained in the Local Intelligence&nbsp;Hub?</h3>

            <p>Anyone can view the information and data on the hub.</p>

            <p>Members of The Climate Coalition are invited to <a href="{% url 'signup' %}">create user accounts here</a>. This enables users to access additional members-only data.</p>

            <h3 id="permissions" class="h4">What am I / my organisation allowed to do with information procured from the Local Intelligence Hub?</h3>

            <p><strong>If you use the site without signing in:</strong> data can be (re-)shared publicly, as long as any attributions are included.</p>

            <p><strong>If you use the site by signing in:</strong> public data can be (re-)shared publicly, as long as any attributions are included. Members-only data is clearly marked as such, and should not be shared with people or organisations outside The Climate Coalition.</p>

            <p>For full details, see the <a href="{% url 'terms' %}">Terms of use</a>.</p>

            <h2 class="text-primary mt-5">Data</h2>

            <h3 id="updates" class="h4">How often is the Local Intelligence Hub updated? Is the current information correct/accurate?</h3>

            <p>Many of the datasets on the Local Intelligence Hub are gathered automatically from public sources, so are updated at least weekly. Datasets provided by our partners are updated when they provide updates to us. Once a quarter, all partners are contacted and asked to either confirm a dataset remains accurate or provide an update.</p>

            <p>Each dataset on the site is clearly labelled with the date it was last updated.</p>

            <h3 id="sources" class="h4">Where has the data come from? Do I need to attribute the source when presenting work that has used the Hub?</h3>

            <p><a href="{% url 'sources' %}">A full list of datasets and sources can be found here.</a> Datasets should be attributed if you use them outside the tool.</p>

            <h3 id="contributing" class="h4">I have data (from my organisation, or a public source) that I want to upload to the Hub. How do I do that?</h3>

            <p>We can work with you to get your data incorporated into the Local Intelligence Hub. You can choose whether it’s made available just to other Climate Coalition members, or to all users of the Hub. <a href="{% url 'contact' %}">Contact us</a> to arrange a call.</p>

            <h3 id="inaccuracies" class="h4">Who should I contact if I notice something is incorrect?</h3>

            <p><a href="{% url 'contact' %}">Contact us here</a> for anything relating to the Local Intelligence Hub.</p>

            <h3 id="privacy" class="h4">Where can I find information on data protection?</h3>

            <p>In our <a href="{% url 'privacy' %}">Privacy policy</a>.</p>

            <h2 class="text-primary mt-5">Features</h2>

            <h3 id="comparisons" class="h4">Can I compare two constituency pages side by side?</h3>

            <p>We’re working on making comparisons easier, but in the meantime, you can open each constituency page in a separate tab, and switch between them, to compare.</p>

            <h3 class="h4">Can I print out a constituency page?</h3>

            <p>Yes.</p>

            <h3 class="h4">Can I print or download a graphic of the map I have created with filters?</h3>

            <p>Sorry, not yet.</p>

            <h3 class="h4">How many filters can I select when choosing data?</h3>

            <p>As many as you like.</p>

        </div>
    </div>
</div>

{% endblock %}
