{% extends 'hub/base.html' %}

{% load humanize %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <a href="{% url 'explore' %}" class="d-inline-flex align-items-center">
            {% include 'hub/includes/icons/chevron-left.html' with classes="me-1" %}
            Back to map
        </a>
        <h1 class="mt-3 mb-0">{{ area.name }}</h1>
    </div>
</div>

<div class="py-4 py-lg-5 bg-light">
    <div class="container mb-5">

        <h2 class="mb-3 text-primary">MP</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                {% include 'hub/includes/person-photo.html' with person=mp.person %}
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h3 class="h4 mb-0 text-primary">{{ mp.person.name }}</h3>
                              {% if mp.party %}
                                <p class="mb-0 text-muted">{{ mp.party }}</p>
                              {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <h4 class="h6 mt-4">Elected</h4>
                                <p class="fs-5 lh-1 fw-bold text-primary mb-0">{{ mp.mp_first_elected|naturalday:"jS M Y" }}</p>
                            </div>
                            <div class="col-lg-6">
                                <h4 class="h6 mt-4">2019 majority</h4>
                                <p class="fs-5 lh-1 fw-bold text-primary mb-0">{{ mp.mp_election_majority|intcomma }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8 text-muted">Data from <a href="https://www.theyworkforyou.com/{% if mp.twfyid %}mp/{{ mp.twfyid}}{% endif %}" class="text-decoration-none text-muted">TheyWorkForYou.com</a> and <a href="https://electionresults.parliament.uk/election/2019-12-12/Statistics/Majority" class="text-decoration-none text-muted">UK Parliament</a></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title mb-3">MP memberships</h5>
                        <ul class="list-unstyled mb-0">
                          {% if mp.party %}
                            <li class="mb-2"><a href="#">{{ mp.party }}</a></li>
                          {% endif %}
                            <li class="mb-2"><a href="#">Conservative Environment Network (CEN)</a></li>
                            <li class="mb-2"><a href="#">European Research Group (ERG)</a></li>
                        </ul>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">Data collated by The Climate Coalition</a></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title mb-3">MP profiles</h5>
                        <ul class="list-unstyled mb-0">
                          {% if mp.twitter %}
                            <li class="mb-2 text-truncate">Twitter: <a href="https://twitter.com/{{ mp.twitter }}">@{{ mp.twitter }}</a></li>
                          {% endif %}
                          {% if mp.facebook %}
                            <li class="mb-2 text-truncate">Facebook: <a href="https://facebook.com/{{ mp.facebook }}">/{{ mp.facebook }}</a></li>
                          {% endif %}
                          {% if mp.twfyid %}
                            <li class="mb-2 text-truncate"><a href="https://www.theyworkforyou.com/mp/{{ mp.twfyid}}">TheyWorkForYou voting record</a></li>
                          {% endif %}
                          {% if mp.parlid %}
                            <li class="mb-2 text-truncate"><a href="https://members.parliament.uk/member/{{ mp.parlid }}/contact">Parliament contact info</a></li>
                          {% endif %}
                          {% if mp.wikipedia %}
                            <li class="mb-2 text-truncate"><a href="{{ mp.wikipedia }}">Wikipedia page</a></li>
                          {% endif %}
                        </ul>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">Data collated by The Climate Coalition</a></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <a href="#" class="bg-transparent rounded p-3 flex-grow-1 d-flex align-items-center justify-content-center" style="border: 2px dashed var(--bs-border-color-translucent);">
                    <span>…3 more datasets available</span>
                </a>
            </div>
        </div>

        <h2 class="mt-5 mb-3 text-primary">Public opinion</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1 fake-data">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Support for Net Zero</h5>
                        <p class="card-text mb-0 display-6 lh-1 text-primary">72%</p>
                        <p class="card-text mt-2 text-muted">68% national average</p>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">MRP polling data from The Climate Coalition, 2022</a></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1 fake-data">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Voting intention</h5>
                        <p class="card-text fs-5 lh-1 fw-bold mb-0 mt-2 text-primary">51% Labour</p>
                        <p class="card-text fs-5 lh-1 fw-bold mb-0 mt-2 text-primary">23% Conservative</p>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">MRP polling data from The Climate Coalition, 2022</a></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <a href="#" class="bg-transparent rounded p-3 flex-grow-1 d-flex align-items-center justify-content-center" style="border: 2px dashed var(--bs-border-color-translucent);">
                    <span>…12 more datasets available</span>
                </a>
            </div>
        </div>

        <h2 class="mt-5 mb-3 text-primary">Place</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Age range</h5>
                        <table class="table mb-0 js-chart" data-chart-type="bar" data-chart-direction="y">
                            <thead>
                                <tr>
                                    <th scope="col">Age band</th>
                                    <th scope="col" data-color="#068670">This area</th>
                                    <th scope="col" data-color="#ced4da">UK average</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for range in constituency_age_distribution %}
                                <tr>
                                    <th>{{ range.data_type.label }}</th>
                                    <td>{{ range.value|floatformat }}%</td>
                                    <td>{{ range.data_type.average|floatformat }}%</td>
                                </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="https://commonslibrary.parliament.uk/constituency-statistics-population-by-age/" class="text-decoration-none text-muted">Data from House of Commons Library</a></p>
                    </div>
                </div>
            </div>
            {% if constituency_fuel_poverty %}
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Households in Fuel poverty</h5>
                        <p class="card-text mb-0 display-6 lh-1 text-primary">{{ constituency_fuel_poverty.value|floatformat }}%</p>
                        <p class="card-text mt-2 text-muted">{{ constituency_fuel_poverty.data_type.average|floatformat }}% national average</p>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="https://www.gov.uk/government/statistics/sub-regional-fuel-poverty-data-2022" class="text-decoration-none text-muted">Data from the Department for Business, Energy &amp; Industrial Strategy</a></p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1 fake-data">
                    <div class="card-body">
                        <h5 class="card-title mb-3">2019 voter turnout</h5>
                        <p class="card-text mb-0 display-6 lh-1 text-primary">65%</p>
                        <p class="card-text mt-2 text-muted">59% national average</p>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="https://commonslibrary.parliament.uk/general-election-2019-turnout/" class="text-decoration-none text-muted">Data from House of Commons Library</a></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1 fake-data">
                    <div class="card-body">
                        <h5 class="card-title mb-3">‘Levelling up’ town</h5>
                        <p class="card-text fs-5">Nearby <strong class="text-primary">Borchester</strong> received ‘levelling up’ funds in 2021</p>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">Source: GOV.UK, 2021</a></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1 fake-data">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Local businesses</h5>
                        <p class="card-text display-6 lh-1 mb-0 text-primary d-flex align-items-center">
                            4% drop
                            {% include 'hub/includes/icons/triangle-down.html' with classes="ms-2 flex-shrink-0 flex-grow-0 text-danger" %}
                        </p>
                        <p class="card-text mt-1">between 2021–2022</p>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="https://commonslibrary.parliament.uk/research-briefings/sn06152/" class="text-decoration-none text-muted">Data from House of Commons Library</a></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <a href="#" class="bg-transparent rounded p-3 flex-grow-1 d-flex align-items-center justify-content-center" style="border: 2px dashed var(--bs-border-color-translucent);">
                    <span>…12 more datasets available</span>
                </a>
            </div>
        </div>

        <h2 class="mt-5 mb-3 text-primary">Movement</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col d-flex flex-column fake-data">
                <div class="card flex-grow-1">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Friends of the Earth supporters</h5>
                        <p class="card-text display-6 lh-1 text-primary">High</p>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">Data from Friends of the Earth</a></p>
                    </div>
                    <div class="card-footer bg-yellow-100 d-flex align-items-center">
                        {% include 'hub/includes/icons/tcc-heart.html' with width="1.25em" height="1.25em" classes="me-2 flex-shrink-0 flex-grow-0" %}
                        <p class="mb-0 fs-7">
                            Raw data available for <strong>TCC members</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <div class="card flex-grow-1 fake-data">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Great Big Green Week</h5>
                        <p class="card-text display-6 lh-1 text-primary mb-0">3 events</p>
                        <p class="card-text mt-1">in 2022</p>
                    </div>
                    <div class="card-footer bg-white">
                        <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">Data from The Climate Coalition</a></p>
                    </div>
                </div>
            </div>
            <div class="col d-flex flex-column">
                <a href="#" class="bg-transparent rounded p-3 flex-grow-1 d-flex align-items-center justify-content-center" style="border: 2px dashed var(--bs-border-color-translucent);">
                    <span>…7 more datasets available</span>
                </a>
            </div>
        </div>

        <div class="mt-5 p-3 bg-white border rounded d-flex align-items-center">
            {% include 'hub/includes/icons/tcc-heart.html' with width="1.25em" height="1.25em" classes="me-3 flex-shrink-0 flex-grow-0" %}
            <p class="mb-0">
                <strong class="me-2">TCC member?</strong> Log in or request an account to upload your own datasets and bookmark your favourite datasets for easy access.
            </p>
        </div>

    </div>
</div>

{% endblock %}
