{% extends 'hub/base.html' %}

{% load humanize %}
{% load hub_filters %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <h1 class="m-0">{{ area.name }}</h1>
        <!-- TODO: Don’t hard-code these! -->
        <ul class="list-inline mt-3 mb-0">
            <li class="list-inline-item"><a href="#" class="badge text-white bg-blue-600" style="text-decoration: none; cursor: help;" title="Data from Green Alliance"># Blue wall</a></li>
            <li class="list-inline-item"><a href="#" class="badge text-white bg-orange-500" style="text-decoration: none; cursor: help;" title="MP electoral majority less than 5000; Data from UK Parliament"># Marginal seat</a></li>
        </ul>
    </div>
</div>

<div class="py-4 py-lg-5 bg-light">
    <div class="container mb-5">

        <div class="row">
            <div class="col-lg-3 col-xl-2 mb-4 mb-lg-0 bg-light area-subnav">
                <div>
                    <nav class="nav flex-lg-column">
                        <a class="nav-link" href="#mp">MP</a>
                      {% if categories.opinion or counts.opinion %}
                        <a class="nav-link" href="#opinion">Public opinion</a>
                      {% endif %}
                      {% if categories.place or counts.place %}
                        <a class="nav-link" href="#place">Place</a>
                      {% endif %}
                      {% if categories.movement or counts.movement %}
                        <a class="nav-link" href="#movement">Movement</a>
                      {% endif %}
                    </nav>
                </div>
            </div>
            <div class="col-lg-9 offset-xl-1">

                <section id="mp" class="area-section">
                    <h2 class="mb-3 text-primary">MP</h2>
                    {% include 'hub/area/_mp_data.html' with mp_data=mp %}
                </section>

              {% if categories.opinion or counts.opinion %}
                <section id="opinion" class="area-section">
                    <h2 class="mb-3 text-primary">Public opinion</h2>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                      {% for category in categories.opinion %}
                        {% for data in category.data %}
                          {% include 'hub/area/_opinion_data.html' with item=data %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                </section>
              {% elif debug %}
                <section id="opinion" class="area-section">
                    {% include 'hub/area/_no_data.html' with name="Public opinion" variable="opinion" %}
                </section>
              {% endif %}

              {% if categories.place or counts.place %}
                <section id="place" class="area-section">
                    <h2 class="mb-3 text-primary">Place</h2>
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                      {% for category in categories.place %}
                        {% include 'hub/area/_place_data.html' with category=category %}
                      {% endfor %}
                    </div>
                </section>
              {% elif debug %}
                <section id="place" class="area-section">
                    {% include 'hub/area/_no_data.html' with name="Place" variable="movement" %}
                </section>
              {% endif %}

              {% if categories.movement or counts.movement %}
                <section id="movement" class="area-section">
                    <h2 class="mb-3 text-primary">Movement</h2>

                    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
                        <div class="col d-flex flex-column">
                            <div class="card flex-grow-1 dataset-card">
                                <div class="dataset-card-header">
                                    <h5>Supporters and activists</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Organisation</th>
                                                <th scope="col">This area</th>
                                                <th scope="col" class="text-muted">UK average</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TODO pull in real data, order of rows doesn’t matter -->
                                            <tr>
                                                <th>{{ 'Number of Friends of the Earth activists' | simplify_dataset_name }}</th>
                                                <td>xx</td>
                                                <td class="text-muted">xx</td>
                                            </tr>
                                            <tr>
                                                <th>{{ 'Number of Friends of the Earth supporters' | simplify_dataset_name }}</th>
                                                <td>xx</td>
                                                <td class="text-muted">xx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer bg-white">
                                    <p class="card-text fs-8"><a href="{% url 'sources' %}" class="text-decoration-none text-muted">Data from members of The Climate Coalition</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex flex-column">
                            <div class="card flex-grow-1 dataset-card">
                                <div class="dataset-card-header">
                                    <h5>Groups</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Organisation</th>
                                                <th scope="col">This area</th>
                                                <th scope="col" class="text-muted">UK average</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TODO pull in real data, order of rows doesn’t matter -->
                                            <tr>
                                                <th>{{ 'Number of active Friends of the Earth groups' | simplify_dataset_name }}</th>
                                                <td>xx</td>
                                                <td class="text-muted">xx</td>
                                            </tr>
                                            <tr>
                                                <th>{{ 'Number of Women’s Institute groups' | simplify_dataset_name }}</th>
                                                <td>xx</td>
                                                <td class="text-muted">xx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer bg-white">
                                    <p class="card-text fs-8"><a href="{% url 'sources' %}" class="text-decoration-none text-muted">Data from members of The Climate Coalition</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row row-cols-1 row-cols-md-2 g-4">
                        <div class="col d-flex flex-column">
                            <div class="card flex-grow-1 dataset-card">
                                <div class="dataset-card-header">
                                    <h5>Places and spaces</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Organisation</th>
                                                <th scope="col">This area</th>
                                                <th scope="col" class="text-muted">UK average</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TODO pull in real data, order of rows doesn’t matter -->
                                            <tr>
                                                <th>{{ 'Number of Save the Children shops' | simplify_dataset_name }}</th>
                                                <td>xx</td>
                                                <td class="text-muted">xx</td>
                                            </tr>
                                            <tr>
                                                <th>{{ 'Churches that have declared a climate emergency' | simplify_dataset_name }}</th>
                                                <td>xx</td>
                                                <td class="text-muted">xx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer bg-white">
                                    <p class="card-text fs-8"><a href="{% url 'sources' %}" class="text-decoration-none text-muted">Data from members of The Climate Coalition</a></p>
                                </div>
                            </div>
                        </div>

                        <div class="col d-flex flex-column">
                            <div class="card flex-grow-1 dataset-card">
                                <div class="dataset-card-header">
                                    <h5>Events</h5>
                                </div>
                                <div class="card-body">
                                    <table class="table mb-0">
                                        <thead>
                                            <tr>
                                                <th scope="col">Organisation</th>
                                                <th scope="col">This area</th>
                                                <th scope="col" class="text-muted">UK average</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- TODO pull in real data, order of rows doesn’t matter -->
                                            <tr>
                                                <th>{{ 'Number of Great Big Green Week 2022 events' | simplify_dataset_name }}</th>
                                                <td>xx</td>
                                                <td class="text-muted">xx</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="card-footer bg-white">
                                    <p class="card-text fs-8"><a href="{% url 'sources' %}" class="text-decoration-none text-muted">Data from members of The Climate Coalition</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--
                    <div class="row row-cols-1 row-cols-md-2 g-4">
                      {% for category in categories.movement %}
                        {% include 'hub/area/_place_data.html' with category=category %}
                      {% endfor %}
                    </div>
                    -->
                </section>
              {% elif debug %}
                <section id="movement" class="area-section">
                    {% include 'hub/area/_no_data.html' with name="Movement" variable="movement" %}
                </section>
              {% endif %}

                <div class="mt-5 p-3 bg-white border rounded d-flex align-items-center">
                    {% include 'hub/includes/icons/tcc-heart.html' with width="1.25em" height="1.25em" classes="me-3 flex-shrink-0 flex-grow-0" %}
                    <p class="mb-0">
                        <strong class="me-2">TCC member?</strong> Log in or request an account to upload your own datasets and bookmark your favourite datasets for easy access.
                    </p>
                </div>

            </div>
        </div>

    </div>
</div>
{% endblock %}
