{% extends "hub/base.html" %}

{% load hub_filters %}

{% block content %}

<div class="py-5">
    <div class="container mt-lg-3">

        <h1 class="mb-4 text-primary">Search by location</h1>
        <label class="form-label" for="search">Enter a constituency name, MP name, or postcode</label>
        <form class="row mt-2 mb-2 js-homepage-search" style="max-width: 30rem;" action="{% url 'area_search' %}">
            <div class="col">
                <div class="search-input search-input-lg">
                    {% include 'hub/includes/icons/search.html' %}
                    <input name="search" value="{{ search }}" type="search" id="search" class="form-control form-control-lg {% if error %}is-invalid{% endif %}">
                </div>
              {% if error %}
                <div class="invalid-feedback d-block fs-6 mt-2">
                    {{ error }}
                </div>
              {% endif %}
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </div>
        </form>
        <a class="js-geolocate d-none d-flex align-items-center btn btn-link px-0" href="#">
            {% include 'hub/includes/icons/geolocate.html' with classes="me-2" %}
            Use my current location
        </a>

      {% if areas %}
        <h2 class="mt-5 mb-4 text-primary">{{ areas|length }} matching locations</h2>
      {% for area in areas %}
        <div class="card shadow-sm mb-3 mb-md-4" style="max-width: 30em">
            <div class="card-body">
                <h3 class="card-title mb-3"><a href="{{ area.get_absolute_url }}" class="stretched-link">{{ area.name|highlight:search }}</a></h3>
                <div class="d-flex align-items-center">
                    {% include 'hub/includes/person-photo.html' with person=area.mp width="32" height="32" %}
                    <p class="mb-0 ms-2 text-muted">{{ area.mp.name|highlight:search }}, MP</p>
                </div>
            </div>
        </div>
      {% endfor %}
      {% endif %}

    </div>
</div>

{% endblock %}
