{% extends 'hub/base.html' %}

{% load static %}

{% block content %}

{% include 'hub/includes/header.html' %}

<div class="py-4 py-lg-5">
    <div class="container">
        <h1>{{ title }}</h1>
        <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="#" class="badge text-white bg-blue-600" style="text-decoration: none;">Blue wall</a></li>
            <li class="list-inline-item"><a href="#" class="badge text-white bg-orange-500" style="text-decoration: none;">Flood risk</a></li>
            <li class="list-inline-item"><a href="#" class="badge text-white bg-teal-500" style="text-decoration: none;">Green tech jobs</a></li>
            <li class="list-inline-item"><a href="#" class="badge text-gray-900 bg-gray-200" style="text-decoration: none;">+ Add tag</a></li>
        </ul>

        <div class="row gx-lg-5">
            <div class="col-lg-6 col-xl-8">
                <h2 class="mt-5 mb-0 pb-3 border-bottom text-primary">{{ area.name }}</h2>

                <div class="row gx-lg-5">
                    <div class="col-lg-6">
                        <h4 class="h6 text-primary mt-5">Public opinion: Support for Net Zero</h4>
                        <p class="fs-4 lh-1 mb-0">54%</p>

                        <h4 class="h6 text-primary mt-5">Average IMD score</h4>
                        <p class="fs-4 lh-1 mb-0">7 (good)</p>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h6 text-primary mt-5">Homes in fuel poverty</h4>
                        <p class="fs-4 lh-1 mb-0">11%</p>

                        <h4 class="h6 text-primary mt-5">Homes with good access to nature</h4>
                        <p class="fs-4 lh-1 mb-0">43%</p>
                    </div>
                </div>

                <div class="row gx-lg-5">
                    <div class="col-xl-6">
                        <h4 class="mb-3 h6 text-primary mt-5">Groups active nearby</h4>
                        <div class="list-group">
                            <div class="list-group-item">
                                <small class="d-block fw-bold text-muted">Wildlife Trusts</small>
                                Team Wilder, Borsetshire
                            </div>
                            <div class="list-group-item">
                                <small class="d-block fw-bold text-muted">The WI</small>
                                WI Felpersham
                            </div>
                        </div>
                        <small class="d-block mt-2 mt-lg-3 text-muted">
                            Is your group missing?
                            <a href="#" class="d-inline-block">Let us know!</a>
                        </small>

                        <h4 class="mb-3 h6 text-primary mt-5">Total TCC supporters</h4>
                        <div class="p-3 bg-yellow-100 rounded">
                            <p class="mb-2">This data is available only to The Climate Coalition member organisations.</p>
                            <p class="mb-0"><a href="#">Sign in</a> or <a href="#">Request an account</a></p>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <h4 class="mb-3 h6 text-primary mt-5">Spaces and places</h4>
                        <div class="list-group">
                            <div class="list-group-item">
                                <small class="d-block fw-bold text-muted">Church of England</small>
                                Ambridge Village Hall
                            </div>
                            <div class="list-group-item">
                                <small class="d-block fw-bold text-muted">Oxfam</small>
                                Oxfam Borchester
                            </div>
                            <div class="list-group-item">
                                <small class="d-block fw-bold text-muted">National Trust</small>
                                Felpersham Hall
                            </div>
                        </div>
                        <small class="d-block mt-2 mt-lg-3 text-muted">
                            Is your space missing?
                            <a href="#" class="d-inline-block">Let us know!</a>
                        </small>

                        <h4 class="mb-3 h6 text-primary mt-5">Events</h4>
                        <div class="list-group">
                            <div class="list-group-item">
                                <small class="d-block fw-bold text-muted">The Climate Coalition</small>
                                Great Big Green Week 2022
                            </div>
                            <div class="list-group-item">
                                <small class="d-block fw-bold text-muted">The Climate Coalition</small>
                                Great Big Green Week 2021
                            </div>
                        </div>
                        <small class="d-block mt-2 mt-lg-3 text-muted">
                            Is your event missing?
                            <a href="#" class="d-inline-block">Let us know!</a>
                        </small>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-xl-4">

                <h2 class="mt-5 mb-0 pb-3 border-bottom text-primary">MP</h2>

                <div class="d-flex align-items-center mt-5">
                    <div class="flex-shrink-0">
                        <img src="{% static 'img/mp.jpg' %}" alt="James Madeupname" width="60" height="60" class="rounded-circle">
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h3 class="h4 mb-0">James<br>Madeupname</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="h6 text-primary mt-5">MP majority</h4>
                        <p class="fs-4 lh-1 mb-0">1,582</p>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h6 text-primary mt-5">MP elected</h4>
                        <p class="fs-4 lh-1 mb-0">2019</p>
                    </div>
                </div>

                <h4 class="h6 text-primary mt-5">MP profiles</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">twitter.com/jamesmadeupname_mp</a></li>
                    <li class="mb-2"><a href="#">facebook.com/JMforBorsetshire</a></li>
                    <li class="mb-2 text-truncate"><a href="#">theyworkforyou.com/mp/264701/james_madeupname/borsetshire_east</a></li>
                </ul>

                <h4 class="h6 text-primary mt-5">MP memberships</h4>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="#">Conservative Party</a></li>
                    <li class="mb-2"><a href="#">Conservative Environment Network (CEN)</a></li>
                    <li class="mb-2"><a href="#">European Research Group (ERG)</a></li>
                </ul>

                <h4 class="h6 text-primary mb-3 mt-5">Relationships with MP</h4>
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-center">
                        {% include 'hub/includes/icons/person.html' with classes="me-3 text-muted" width="2rem" height="2rem" %}
                        <div class="">
                            Campaign manager, National Trust
                            <small class="d-block text-muted"><a href="#">Sign in</a> to make contact</small>
                        </div>
                    </div>
                </div>
                <small class="d-block mt-2 mt-lg-3 text-muted">
                    Do you have a good relationship with this MP?
                    <a href="#" class="d-inline-block">Let us know!</a>
                </small>

            </div>
        </div>

    </div>
</div>

<div class="footer"></div>
{% endblock %}
