{% load static compress %}

<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <title>{{ page_title }}</title>
    {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/main.scss' %}">
    {% endcompress %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;0,800;1,400&amp;display=swap">
    <meta name="theme-color" content="#e9f1d6">

    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:title" content="{{ page_title }}">
    <meta property="og:site_name" content="Local Intelligence Hub">
    <meta property="og:description" content="Your starting point for data about local MPs, constituencies, public opinion and the climate and nature movement.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://{{ request.get_host }}{% static 'img/opengraph.png' %}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">

  {% if GOOGLE_SITE_VERIFICATION %}
    <meta name="google-site-verification" content="{{ GOOGLE_SITE_VERIFICATION }}">
  {% endif %}
  {% if GOOGLE_ANALYTICS %}
    <script defer>Object.defineProperty(document,"cookie",{get:function(){var t=Object.getOwnPropertyDescriptor(Document.prototype,"cookie").get.call(document);return t.trim().length>0&&(t+="; "),t+="_ga=GA1.1."+Math.floor(1e9*Math.random())+"."+Math.floor(1e9*Math.random())},set:function(t){t.trim().startsWith("_ga")||Object.getOwnPropertyDescriptor(Document.prototype,"cookie").set.call(document,t)}});</script>
    <script defer src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS }}"></script>
    <script>
        var client_id = Math.floor(Math.random() * 1000000000) + '.' + Math.floor(Math.random() * 1000000000);
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config','{{ GOOGLE_ANALYTICS }}', {'client_id': client_id, 'cookie_expires': 1 });
    </script>
  {% endif %}
    <script type="module">document.documentElement.classList.remove('no-js'); document.documentElement.classList.add('js');</script>
</head>
<body class="{% block bodyclass %}{% endblock %}">
    {% include 'hub/includes/header.html' %}
    {% block content %}{% endblock %}
    {% include 'hub/includes/footer.html' %}
    <script type="module" src="{% static 'js/all-out-esm.js' %}"></script>
</body>
