{% extends 'hub/base.html' %}

{% load humanize %}
{% load hub_filters %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <a href="{% url 'explore' %}" class="d-inline-flex align-items-center">
            {% include 'hub/includes/icons/chevron-left.html' with classes="me-1" %}
            Back to map
        </a>
        <h1 class="mt-3 mb-0">{{ area.name }}</h1>
    </div>
</div>

<div class="py-4 py-lg-5 bg-light">
    <div class="container mb-5">

        <h2 class="mt-5 mb-3 text-primary">{{ category_title }}</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for data in category_data %}
            {% if category == 'opinion' %}
                {% include 'hub/area/_place_data.html' with category=data %}
            {% elif category == 'place' %}
                {% include 'hub/area/_place_data.html' with category=data %}
            {% elif category == 'movement' %}
                {% include 'hub/area/_place_data.html' with category=data %}
            {% endif %}
        {% endfor %}
        </div>

        <div class="mt-5 p-3 bg-white border rounded d-flex align-items-center">
            {% include 'hub/includes/icons/tcc-heart.html' with width="1.25em" height="1.25em" classes="me-3 flex-shrink-0 flex-grow-0" %}
            <p class="mb-0">
                <strong class="me-2">TCC member?</strong> Log in or request an account to upload your own datasets and bookmark your favourite datasets for easy access.
            </p>
        </div>

    </div>
</div>

{% endblock %}
