{% extends "hub/base.html" %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <div class="readable">
            <h1 class="mb-4">Contact us</h1>

            <p>The Local Intelligence Hub is operated by <a href="https://www.theclimatecoalition.org">The Climate Coalition</a>, while our partners <a href="https://www.mysociety.org">mySociety</a> are responsible for technical development.</p>

            <p>Whether you’ve spotted an error on the site, or you have new data to contribute, or you need help managing your account, or anything else – send an email to <a href="mailto:localintelligencehub@theclimatecoalition.org">localintelligencehub@theclimatecoalition.org</a>, and we’ll direct your message to the right place.</p>

        </div>

        {% include 'hub/includes/mailing-list-form.html' %}
    </div>
</div>

{% endblock %}
