{% extends "hub/base.html" %}

{% block content %}

<div class="py-4 py-lg-5 bg-green-100">
    <div class="container">
        <div class="d-flex align-items-center mb-4 mb-lg-5">
            <a href="{% url 'home' %}">
                {% include 'hub/includes/icons/tcc-logo.html' with classes="me-auto" width="8rem" height="auto" %}
            </a>
            <ul class="nav list-unstyled ms-auto d-none d-lg-flex">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Map</a>
                </li>
                <li class="nav-item">
                    <span class="nav-link">Add data</span>
                </li>
                <li class="nav-item">
                    <span class="nav-link">Sign in</span>
                </li>
            </ul>
        </div>
        <h1 class="display-2 mb-3">Local Intelligence Hub</h1>
        <p class="fs-4" style="max-width: 26em;">Your starting point for data about MPs, constituencies, and local climate activity across the UK.</p>
    </div>
</div>

<div class="py-5">
    <div class="container mt-lg-3">
        <div class="row">

            <div class="col-lg-6 mb-5">
                <h2 class="mb-4 text-primary">National data explorer</h2>
                <p style="max-width: 30em;">Slice and dice parliamentary constituencies by a number of factors, to find the areas most receptive to your message.</p>
                <ul class="mb-4 list-unstyled">
                    <li class="my-1 d-flex align-items-center">
                        {% include 'hub/includes/icons/check.html' with width="1.2em" height="1.2em" classes="me-2 flex-grow-0 flex-shrink-0 text-green-400" %}
                        <span><strong class="text-primary">MP data</strong> – parties, memberships, and more</span>
                    </li>
                    <li class="my-1 d-flex align-items-center">
                        {% include 'hub/includes/icons/check.html' with width="1.2em" height="1.2em" classes="me-2 flex-grow-0 flex-shrink-0 text-green-400" %}
                        <span><strong class="text-primary">Social indicators</strong> – poverty, car ownership, and more</span>
                    </li>
                    <li class="my-1 d-flex align-items-center">
                        {% include 'hub/includes/icons/check.html' with width="1.2em" height="1.2em" classes="me-2 flex-grow-0 flex-shrink-0 text-green-400" %}
                        <span><strong class="text-primary">Physical indicators</strong> – rural/urban, flood risk</span>
                    </li>
                    <li class="my-1 d-flex align-items-center">
                        {% include 'hub/includes/icons/check.html' with width="1.2em" height="1.2em" classes="me-2 flex-grow-0 flex-shrink-0 text-green-400" %}
                        <span><strong class="text-primary">Polling data</strong> – constituency-level climate opinions</span>
                    </li>
                    <li class="my-1 d-flex align-items-center">
                        {% include 'hub/includes/icons/check.html' with width="1.2em" height="1.2em" classes="me-2 flex-grow-0 flex-shrink-0 text-green-400" %}
                        <span><strong class="text-primary">Movement</strong> – local groups, properties</span>
                    </li>
                </ul>
                <a href="/explore" class="btn btn-lg btn-primary">Start exploring</a>
            </div>

            <div class="col-lg-6 mb-5 ps-lg-5">
                <h2 class="mb-4 text-primary">Jump to an area</h2>
                <p class="mb-4" style="max-width: 26em;">See detailed data about a parliamentary constituency and its MP, including group memberships, opinion polling, and local presence in the area.</p>
                <label class="form-label" for="search">Search by constituency name, MP name, or postcode</label>
                <form class="row mt-2 mb-2" style="max-width: 30rem;" action="#">
                    <div class="col">
                        <div class="search-input search-input-lg">
                            {% include 'hub/includes/icons/search.html' %}
                            <input type="search" id="search" class="form-control form-control-lg">
                        </div>
                    </div>
                    <div class="col-auto">
                        <button type="submit" class="btn btn-primary btn-lg">Search</button>
                    </div>
                </form>
                <a class="d-flex align-items-center btn btn-link px-0" href="#">
                    {% include 'hub/includes/icons/geolocate.html' with classes="me-2" %}
                    Use my current location
                </a>
            </div>

        </div>
    </div>
</div>

<div class="footer"></div>

{% endblock %}
