{% extends "hub/base.html" %}

{% block content %}

<div class="py-4 py-lg-5">

    <div class="container pb-5">
        <h1>Datasets and data sources</h1>
        <p class="readable mt-4 mb-0">
            The Local Intelligence Hub brings together data from a number of public and private sources, under four categories: <a href="#mp">MP</a>, <a href="#opinion">Public opinion</a>, <a href="#place">Place</a>, and <a href="#movement">Movement</a>.
        </p>
    </div>

    <div class="bg-gray-100 border-top border-bottom py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-xl-6">
                    {% include 'hub/includes/mailing-list-form.html' with classes="js-collapsable-mailing-list-form" %}
                </div>
                <div class="col-md-5 mt-5 mt-md-0 mx-md-auto">
                    <h2 class="h4 mt-0">Got new data to contribute?</h2>
                    <p>We are constantly incorporating new data into the Local Intelligence Hub, for the benefit of the entire climate and nature movement.</p>
                    <p class="mb-0">If your organisation has data to contribute, <a href="{% url 'contact' %}">please get in touch</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container pb-5">

      {% for slug, category in categories.items %}
        <h2 class="mt-5 text-primary" id="{{ slug }}">{{ category.label }}</h2>
        <div class="row">
          {% for dataset in category.datasets %}
            <div class="col-md-6 col-lg-4 d-flex flex-column mt-3 mt-md-4">
                <div class="card flex-grow-1">
                    <div class="card-body {% if not dataset.is_public %}bg-green-100{% endif %}">
                      {% if not dataset.is_public %}
                        <div class="d-flex align-items-center mb-2 fs-7 lh-sm">
                            {% include 'hub/includes/icons/tcc-heart.html' with width="1em" height="1em" classes="me-2 flex-shrink-0 flex-grow-0" %}
                            Members only
                        </div>
                      {% endif %}
                        <h3 class="h5 mb-0">{{ dataset.label }}</h3>
                      {% if dataset.description %}
                        <p class="mb-0 mt-2 fs-7 lh-sm {% if dataset.is_public %}text-muted{% endif %}">
                            {{ dataset.description }}
                        </p>
                      {% endif %}
                    </div>
                    <div class="card-footer bg-gray-100">
                        <p class="card-text fs-8 text-muted">
                            <a href="{{ dataset.source }}">{{ dataset.source_label }}</a>
                            Available for
                            {% for area_type in dataset.areas_available %}{% include 'hub/includes/comma.html' %}<a href="{% url "explore" %}?area_type={{ area_type.code }}">{{ area_type.name_plural }}</a>{% endfor %}.
                          {% if dataset.release_date %}
                            Updated {{ dataset.release_date }}.
                          {% endif %}
                       </p>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}

    </div>
</div>

{% endblock %}
