{% extends "hub/base.html" %}

{% block content %}

<div class="py-4 py-lg-5">
    <div class="container">
        <div class="readable">
            <h1 class="mb-4">Terms of use</h1>

            <p>Welcome to the Local Intelligence Hub – a project by The Climate Coalition, mySociety and Green Alliance! This powerful tool is designed to bring together data to support our campaigning and organising work.</p>

            <p>By using the Local Intelligence Hub, you agree to use the tool in the spirit of collaboration and to further our collective mission, rather than for singular gain or competition. We encourage respectful and constructive engagement with the data found on the platform.</p>

            <p>Please respect the privacy and intellectual property rights of others when using the Local Intelligence Hub and attribute data sources when using them. Movement data is not to be published publicly unless it is already in the public domain. If you are unsure about what can or cannot be used publicly, <a href="{% url 'contact' %}">please get in touch with us</a>.</p>

            <p>Thank you for using the Local Intelligence Hub.</p>

        </div>
    </div>
</div>

{% endblock %}
