@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
  font-family: "PPRightGrotesk";
  src:
    url("../fonts/PPRightGrotesk/PPRightGrotesk-CompactBlack.woff2")
      format("woff2"),
    url("../fonts/PPRightGrotesk/PPRightGrotesk-CompactBlack.woff")
      format("woff");
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSansReg;
  src: url("../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf");
}
@font-face {
  font-family: IBMPlexSansMedium;
  src: url("../fonts/IBMPlexSans/IBMPlexSans-Medium.ttf");
}
@font-face {
  font-family: IBMPlexSansSemiBold;
  src: url("../fonts/IBMPlexSans/IBMPlexSans-SemiBold.ttf");
}
@font-face {
  font-family: IBMPlexSansCondensed;
  src: url("../fonts/IBMPlexSans/IBMPlexSansCondensed-Regular.ttf");
}

@font-face {
  font-family: IBMPlexMono;
  src: url("../fonts/IBMPlexMono/IBMPlexMono-Regular.ttf");
}

@layer base {
  :root {
    --meep-gray-100: 220, 14%, 96%;
    --meep-gray-200: 225, 14%, 89%;
    --meep-gray-300: 224, 14%, 79%;
    --meep-gray-400: 222, 14%, 64%;
    --meep-gray-500: 222, 14%, 34%;
    --meep-gray-600: 222, 14%, 24%;
    --meep-gray-700: 222, 13%, 19%;
    --meep-gray-800: 222, 14%, 14%;
    --brand-blue: 222, 69%, 65%;
    --meepGray-400: 0, 0%, 100%, 0.5;
    --button-text: 220, 25%, 16%;
    --white: 0, 0%, 100%;
    --labour: 4, 100%, 58%;
    --conservative: 222, 100%, 58%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222, 14%, 34%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222, 14%, 34%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222, 14%, 34%;
    --border: 0, 0%, 100%, 0.32;

    --brand: 222, 69%, 65%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 0%;

    --border: var(--meepGray-600);
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-meepGray-800 text-white font-IBMPlexSans;
  }
}

@layer components {
  .active {
    @apply border-b flex items-center;
  }
}