@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */

@font-face {
  font-family: publicSans;
  src: url('../fonts/hub/PublicSans-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: publicSansVariable;
  src: url('../fonts/hub/PublicSans-Regular-Variable.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'PPRightGrotesk';
  src:
    url('../fonts/PPRightGrotesk/PPRightGrotesk-CompactBlack.woff2')
      format('woff2'),
    url('../fonts/PPRightGrotesk/PPRightGrotesk-CompactBlack.woff')
      format('woff');
  font-style: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans/IBMPlexSans-Light.ttf');
  font-weight: 200;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans/IBMPlexSans-Regular.ttf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans/IBMPlexSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans/IBMPlexSans-Bold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: IBMPlexSans;
  src: url('../fonts/IBMPlexSans/IBMPlexSansCondensed-Regular.ttf');
}

@font-face {
  font-family: IBMPlexMono;
  src: url('../fonts/IBMPlexMono/IBMPlexMono-Regular.ttf');
}

@layer base {
  :root {
    --meep-gray-100: 220, 14%, 96%;
    --meep-gray-200: 225, 14%, 89%;
    --meep-gray-300: 224, 14%, 79%;
    --meep-gray-400: 222, 14%, 64%;
    --meep-gray-500: 222, 14%, 34%;
    --meep-gray-600: 222, 14%, 24%;
    --meep-gray-700: 222, 13%, 19%;
    --meep-gray-800: 222, 14%, 14%;
    --brand-blue: 222, 69%, 65%;
    --brand-pink: 305 50% 48%;
    --button-text: 220, 25%, 16%;
    --white: 0, 0%, 100%;
    --labour: 4, 100%, 58%;
    --conservative: 222, 100%, 58%;
    --foreground: var(--meep-gray-200);
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: var(--meep-gray-800);
    --popover-foreground: 0, 0%, 100%;
    --primary: 222, 14%, 34%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: var(--meep-gray-600);
    --muted: 210 40% 96.1%;
    --muted-foreground: 222, 14%, 64%;
    --accent: var(--meep-gray-600);
    --accent-foreground: var(--meep-gray-200);
    --border: 0, 0%, 100%, 0.32;
    --yellow: 44, 99%, 62%;
    --dark-secondary: 220, 25%, 16%;

    --brand: 222, 69%, 65%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 0%;

    --border: var(--meep-gray-600);
    --input: var(--meep-gray-600);
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-meepGray-800 text-white font-IBMPlexSans font-normal;
  }
}

@layer components {
  .active {
    @apply border-b flex items-center;
  }

  .flex-divide-x > :first-child:not([hidden]),
  .flex-divide-x > :not([hidden]) ~ :not([hidden]) {
    @apply flex-1 border-r border-solid;
    border-color: hsl(var(--flex-divide-x-colour, var(--meep-gray-300)));
    padding-right: var(--flex-divide-x-spacing, 5px);
    padding-left: var(--flex-divide-x-spacing, 5px);
  }

  .flex-divide-x > :first-child:not([hidden]):first-child,
  .flex-divide-x > :not([hidden]) ~ :not([hidden]):first-child {
    @apply pl-0;
  }

  .flex-divide-x > :first-child:not([hidden]):last-child,
  .flex-divide-x > :not([hidden]) ~ :not([hidden]):last-child {
    @apply pr-0 border-0;
  }
}

#puck-editor-root .Puck {
  height: 100%;

  & > div {
    position: relative !important;
    height: 100% !important;
  }

  [class^='_PuckCanvas-root'] {
    opacity: 1 !important;
  }

  [class^='_Puck-layout'] {
    height: 100% !important;
  }

  [class^='_PuckLayout-inner'] {
    height: 100% !important;
  }
}

/**/

.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}

.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}

.react-grid-item img {
  pointer-events: none;
  user-select: none;
}

.react-grid-item.cssTransforms {
  transition-property: transform;
}

.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.dropping {
  visibility: hidden;
}

.react-grid-item.react-grid-placeholder {
  background: green;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
}

.react-grid-item > .react-resizable-handle::after {
  content: '';
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.react-resizable-hide > .react-resizable-handle {
  display: none;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  transform: rotate(90deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  transform: rotate(180deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  transform: rotate(270deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-w,
.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-w {
  left: 0;
  transform: rotate(135deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-e {
  right: 0;
  transform: rotate(315deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-n,
.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-n {
  top: 0;
  transform: rotate(225deg);
}

.react-grid-item > .react-resizable-handle.react-resizable-handle-s {
  bottom: 0;
  transform: rotate(45deg);
}

/* Mapbox */
.mapboxgl-popup-close-button {
  /* Improve built-in popup close button spacing */
  padding-right: 0.25rem;
}

.CollapsibleContent {
  overflow: hidden;
}
.CollapsibleContent[data-state='open'] {
  animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
  animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
