.dataset-card {
    .js-favourite-this-dataset {
        display: block;
    }

    .js-unfavourite-this-dataset {
        display: none;
    }

    .table {
        td, th {
            line-height: 1.2;
        }

        thead th {
            @include font-size(0.875rem);
        }

        tr > :first-child {
            padding-left: 0;
        }

        tr > :last-child {
            padding-right: 0;
        }

        tbody > tr:last-child {
            td, th {
                border-bottom: none;
                padding-bottom: 0;
            }
        }

        thead > tr:first-child {
            td, th {
                padding-top: 0;
            }
        }
    }

    .card-header {
        display: flex;
        padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) 0;
        border-bottom: none;
    
        h1, h2, h3, h4, h5 {
            margin-bottom: 0;
            margin-right: auto;
        }
    
        form {
            margin: calc(var(--bs-card-spacer-y) * -1) calc(var(--bs-card-spacer-x) * -1);
        }
    
        button {
            background: transparent;
            border: none;
            line-height: 1.25em; // match h5
            font-size: 1em;
            color: $gray-500;
            padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    
            &:focus {
                color: inherit;
            }
    
            &:hover {
                color: $link-color;
            }
        }
    }

    .card-footer {
        color: $text-muted;
        font-size: map-get($font-sizes, 8);
    }
}

.dataset-card--favourite {
    .js-unfavourite-this-dataset {
        display: block;
    }

    .js-favourite-this-dataset {
        display: none;
    }
}
