.navbar-nav {
    .nav-link {
        font-weight: bold;
        text-transform: uppercase;
    }
}

// Flex layout, for nicely positioning .badge children
.nav-link {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border: none;
    margin-right: calc(var(--bs-navbar-toggler-padding-x) * -1);
}

@include media-breakpoint-down(sm) {
    .navbar-nav {
        margin-top: 1rem;
        margin-bottom: 0;

        & > .nav-item {
            border-top: 1px solid rgba(#000, 0.1);
        }

        .nav-link {
            font-size: 1.5rem;
        }
    }
}

@include media-breakpoint-up(sm) {
    .navbar-nav {
        margin-right: calc(var(--bs-navbar-nav-link-padding-x) * -1);
    }
}

@include media-breakpoint-up(md) {
    .navbar {
        --bs-navbar-nav-link-padding-x: #{ $navbar-nav-link-padding-x * 1.5 };
    }
}

.page-explore .navbar .container {
    max-width: none;
    --bs-gutter-x: #{ map-get($spacers, 4) * 2 };

    @include media-breakpoint-up(lg) {
        --bs-gutter-x: #{ map-get($spacers, 5) * 2 };
    }
}
