{% extends "hub/base.html" %}

{% load static django_bootstrap5 %}

{% block content %}

<div class="py-5">
    <div class="container">

        <h1 class="mb-5">Activate accounts</h1>

      {% if form|length == 0 %}
        <p>There are no accounts to activate.</p>
      {% else %}
        <form method="post" action="{% url 'activate_accounts' %}" class="my-5">
            {% csrf_token %}
            {{ form.management_form }}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Organisation</th>
                    </tr>
                </thead>
                <tbody>
                  {% for user_form in form %}
                    <tr>
                        <td>
                            {% bootstrap_field user_form.is_active show_help=False show_label=False wrapper_class="" %}
                            {% bootstrap_field user_form.id %}
                        </td>
                        <td>
                            {{ user_form.instance.username }}
                        </td>
                        <td>
                            {{ user_form.instance.userproperties.full_name }}
                        </td>
                        <td>
                            {{ user_form.instance.userproperties.organisation_name }}
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Activate selected accounts</button>
        </form>
      {% endif %}

    </div>
</div>

{% endblock %}
