{% extends "hub/base.html" %}

{% load static django_bootstrap5 %}

{% block content %}

<div class="py-4 py-lg-5 bg-green-100">
    <div class="container">
        <h1 class="display-2 mb-3">Local Intelligence Hub</h1>
        <p class="fs-4" style="max-width: 26em;">Your starting point for data about MPs, constituencies, and local climate activity across the UK.</p>
    </div>
</div>

<div class="py-5">
    <div class="container">

        {% if form|length == 0 %}
        <div>No accounts to activate</div>
        {% else %}
        <form method="post" action="{% url 'activate_accounts' %}" class="mb-5 form-narrow">
            {% csrf_token %}
            {{ form.management_form }}

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Organisation</th>
                    </tr>
                </thead>
                <tbody>
                {% for user_form in form %}
                    <tr>
                        <td>
                            {% bootstrap_field user_form.is_active show_help=False show_label=False %}
                            {% bootstrap_field user_form.id %}
                        </td>
                        <td>
                            {{ user_form.instance.username }}
                        </td>
                        <td>
                            {{ user_form.instance.userproperties.full_name }}
                        </td>
                        <td>
                            {{ user_form.instance.userproperties.organisation_name }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Activate</button>
        </form>
        {% endif %}

    </div>
</div>

{% endblock %}
