{% extends "hub/base.html" %}

{% load static django_bootstrap5 %}

{% block content %}

<div class="py-5">
    <div class="container">

        <h1 class="mb-4">Request an account</h1>

        <div style="max-width: 30em">
            <p>Much of the data on the Local Intelligence Hub is open and available for anyone to access. But some data has been shared with us on the understanding that it is only made available to our members.</p>
            <p>If you’re associated with any Climate Coalition member organisation, you’re welcome to request an account, below.</p>
        </div>

        <form method="post" action="{% url 'signup' %}" class="my-5" style="max-width: 30em">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{% url 'home' %}">
            <button type="submit" class="btn btn-primary">Submit request</button>
        </form>

        <p>Already have an account but need to <a href="{% url 'password_reset' %}">reset your password</a>?</p>

    </div>
</div>

{% endblock %}
