{% extends "hub/base.html" %}

{% load static django_bootstrap5 %}

{% block content %}

<div class="py-5">
    <div class="container">

        <h1 class="mb-4">Request an account</h1>

        <div style="max-width: 30em">
            <p>During this initial launch phase, an account is required to access any data on the Local Intelligence Hub. If you’re associated with any Climate Coalition member organisation, you’re welcome to request an account, below.</p>
            <p>Later this year, we hope to make <em>public</em> data available to visitors without an account, but an account will still be required to access members-only data.</p>
        </div>

        <form method="post" action="{% url 'signup' %}" class="my-5" style="max-width: 30em">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden" name="next" value="{% url 'home' %}">
            <button type="submit" class="btn btn-primary">Submit request</button>
        </form>

        <p>Already have an account but need to <a href="{% url 'password_reset' %}">reset your password</a>?</p>

    </div>
</div>

{% endblock %}
