<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover">
    <title>{% if page.title %}{{ page.title | escape }} | {% endif %}{{ site.title | escape }}</title>
    <link rel="stylesheet" href="{{ '/static/css/all.css' | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,700;0,800;1,400&display=swap">
    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}">
    <link rel="apple-touch-icon" href="{{ '/static/img/apple-touch-icon.png' | relative_url }}">
    <script type="module">document.documentElement.classList.remove('no-js'); document.documentElement.classList.add('js');</script>
</head>
<body>
    {{ content }}
    <script async src="https://cdn.jsdelivr.net/npm/es-module-shims@1/dist/es-module-shims.min.js" crossorigin="anonymous"></script>
    <script type="importmap">{ "imports": { "@popperjs/core": "{{ '/static/vendor/popper/js/popper.min.js' | relative_url }}" } }</script>
    <script type="module" src="{{ '/static/js/all.js' | relative_url }}"></script>
</body>
