{% load humanize %}
{% load hub_filters %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col d-flex flex-column">

        <div class="card flex-grow-1">
            <div class="card-body">
                <div class="d-flex align-items-center">
                    <div class="flex-shrink-0">
                        {% include 'hub/includes/person-photo.html' with person=mp_data.person %}
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h3 class="h4 mb-0 text-primary">{{ mp_data.person.name }}</h3>
                      {% if mp_data.party %}
                        <p class="mb-0 text-muted">{{ mp_data.party }}</p>
                      {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h4 class="h6 mt-4">Elected</h4>
                        <p class="fs-5 lh-1 fw-bold text-primary mb-0">{{ mp_data.mp_first_elected|naturalday:"jS M Y" }}</p>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="h6 mt-4">{{ mp_data.mp_last_elected|date:"Y"}} majority</h4>
                        <p class="fs-5 lh-1 fw-bold text-primary mb-0">{{ mp_data.mp_election_majority|intcomma }}</p>
                    </div>
                    {% if mp.job_titles %}
                      <div>
                          <h4 class="h6 mt-4 mb-1">Positions</h4>
                          <p class="mb-0">{{ mp.job_titles }}</p>
                      </div>
                    {% endif %}
                </div>
            </div>
            <div class="card-footer bg-white">
                <p class="card-text fs-8 text-muted">Data from <a href="https://www.theyworkforyou.com/{% if mp_data.twfyid %}mp/{{ mp_data.twfyid}}{% endif %}" class="text-decoration-none text-muted">TheyWorkForYou.com</a> and <a href="https://electionresults.parliament.uk/election/2019-12-12/Statistics/Majority" class="text-decoration-none text-muted">UK Parliament</a></p>
            </div>
        </div>

        <div class="card flex-grow-1">
            <div class="card-body">
                <h5 class="card-title mb-3">MP profiles</h5>
                <ul class="list-unstyled mb-0">
                  {% if mp_data.twitter %}
                    <li class="mb-2 text-truncate">Twitter: <a href="https://twitter.com/{{ mp_data.twitter }}">@{{ mp_data.twitter }}</a></li>
                  {% endif %}
                  {% if mp_data.facebook %}
                    <li class="mb-2 text-truncate">Facebook: <a href="https://facebook.com/{{ mp_data.facebook }}">/{{ mp_data.facebook }}</a></li>
                  {% endif %}
                  {% if mp_data.twfyid %}
                    <li class="mb-2 text-truncate"><a href="https://www.theyworkforyou.com/mp/{{ mp_data.twfyid}}">TheyWorkForYou voting record</a></li>
                  {% endif %}
                  {% if mp_data.parlid %}
                    <li class="mb-2 text-truncate"><a href="https://members.parliament.uk/member/{{ mp_data.parlid }}/contact">Parliament contact info</a></li>
                  {% endif %}
                  {% if mp_data.wikipedia %}
                    <li class="mb-2 text-truncate"><a href="{{ mp_data.wikipedia }}">Wikipedia page</a></li>
                  {% endif %}
                </ul>
            </div>
            <div class="card-footer bg-white">
                <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">Data collated by The Climate Coalition</a></p>
            </div>
        </div>
      {% if mp.net_zero_target or mp.onshore_wind_energy %}
      <div class="card flex-grow-1 dataset-card">
             <div class="dataset-card-header">
              <h5>MP sector engagement</h5>
             </div>
             <div class="card-body">
             <ul class="tag-cloud">
                 {% if mp.net_zero_target %}
                 <li><a href="https://www.theclimatecoalition.org/joint-letter-2019" class="tag">Net Zero open letter</a></li>
                 {% endif %}
                 {% if mp.onshore_wind_energy %}
                 <li><a href="https://www.wearepossible.org/onshore-wind/latest/open-letter-from-mps-to-the-prime-minister" class="tag">Onshore Wind Energy open letter</a></li>
                 {% endif %}
            </ul>
            </div>
            <div class="card-footer bg-white">
                <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">Data collated by mySociety</a></p>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col d-flex flex-column">

        <div class="card flex-grow-1">
            <div class="card-body">
                <h5 class="card-title mb-3">MP memberships</h5>
              {% if mp_data.party %}
                <h6 class="text-muted fw-bold">Party</h6>
                <ul class="tag-cloud">
                    <li><a href="{% url 'explore' %}?{% urlencode_params party__exact=mp_data.party %}" class="tag" title="Show all constituencies with an MP in this party">{{ mp_data.party }}</a></li>
                </ul>
              {% endif %}
              {% if mp_data.cen_member or mp_data.nzsg_member %}
                <h6 class="text-muted fw-bold">Political groups</h6>
                <ul class="tag-cloud">
                  {% if mp_data.cen_member %}
                    <li><a href="{% url 'explore' %}?{% urlencode_params cen_member__exact=True %}" class="tag" title="Show all constituencies with an MP in this group">Conservative Environment Network</a></li>
                  {% endif %}
                  {% if mp_data.nzsg_member %}
                    <li><a href="{% url 'explore' %}?{% urlencode_params nzsg_member__exact=True %}" class="tag" title="Show all constituencies with an MP in this group">Net Zero Scrutiny Group</a></li>
                  {% endif %}
                </ul>
              {% endif %}
              {% if mp_data.select_committee_memberships %}
                <h6 class="text-muted fw-bold">Select committees</h6>
                <ul class="tag-cloud">
                  {% for committee in mp_data.select_committee_memberships %}
                    <li><a href="{% url 'explore' %}?{% urlencode_params select_committee_membership__icontains=committee %}" class="tag" title="Show all constituencies with an MP in this select committee">{{ committee }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
              {% if mp_data.appg_memberships %}
                <h6 class="text-muted fw-bold">APPGs</h6>
                <ul class="tag-cloud">
                  {% for appg in mp_data.appg_memberships %}
                    <li><a href="{% url 'explore' %}?{% urlencode_params mp_appg_memberships__exact=appg %}" class="tag" title="Show all constituencies with an MP in this APPG">{{ appg }}</a></li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="card-footer bg-white">
                <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">Data collated by The Climate Coalition</a></p>
            </div>
        </div>
  <div class="card flex-grow-1 dataset-card">
             <div class="dataset-card-header">
              <h5>Relevant votes & amendments</h5>
             </div>
             <div class="card-body">
                <table class="table mb-0">
                <thead>
                    <tr>
                        <th scope="col">Vote</th>
                        <th scope="col">Position</th>
                    </tr>
                </thead>
                <tbody>
                  {% for vote in mp.votes %}
                    <tr>
                        <td><a href="{{ vote.url }}">{{ vote.name }}</a></td>
                        <td>{{ vote.vote }}</td>
                    </tr>
                  {% endfor %}
                  {% for item in mp.support %}
                    <tr>
                        <td><a href="{{ item.url }}">{{ item.name }}</a></td>
                        <td>{{ item.position }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
            </table>
            </div>
            <div class="card-footer bg-white">
                <p class="card-text fs-8"><a href="#" class="text-decoration-none text-muted">Data from UK Parliament</a></p>
            </div>
        </div>

    </div>
</div>
