<div class="col d-flex flex-column">
    <div class="card flex-grow-1 dataset-card {% if item.is_favourite %}dataset-card--favourite{% endif %}">
        <div class="dataset-card-header">
            <h5>{{ item.label }}</h5>
            {% include "hub/area/_favourite.html" %}
        </div>
        <div class="card-body">
            <p class="card-text mb-0 display-6 lh-1 text-primary">{{ item.value }}%</p>
            <p class="card-text mt-2 text-muted">{{ item.average|floatformat }}% national average</p>
        </div>
        <div class="card-footer bg-white">
          {% if category.source_url %}
            <p class="card-text fs-8"><a href="{{ category.source_url }}" class="text-decoration-none text-muted">Data from {{ category.source }}</a></p>
          {% else %}
            <p class="card-text fs-8 text-muted">Data from {{ category.source }}</p>
          {% endif %}
        </div>
    </div>
</div>
