{% load humanize %}
{% load hub_filters %}

<div class="col d-flex flex-column">
    <div class="card flex-grow-1 dataset-card {% if category.is_favourite or category.data.is_favourite %}dataset-card--favourite{% endif %}">
        <div class="dataset-card-header">
            <h5>{{ category.name }}</h5>
            {% include "hub/area/_favourite.html" %}
        </div>
        <div class="card-body">
            {% if category.is_range %}
                <table class="table mb-0 js-chart" data-chart-type="bar" data-chart-direction="y">
                    <thead>
                        <tr>
                            <th scope="col">Age band</th>
                            <th scope="col" data-color="#068670">This area</th>
                            <th scope="col" data-color="#ced4da">UK average</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for range in category.data %}
                        <tr>
                            <th>{{ range.label }}</th>
                            <td>{{ range.value|floatformat }}{% if range.is_percentage %}%{% endif %}</td>
                            <td>{{ range.average|floatformat }}{% if range.is_percentage %}%{% endif %}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
              {% elif category.data.data_type.name == 'constituency_popular_petitions' %}
                <table class="table mb-0">
                    <thead>
                        <tr>
                            <th scope="col">Petition</th>
                            <th scope="col">Signatures</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for petition in category.data.value %}
                        <tr>
                            <td><a href="{{ petition.url }}">{{ petition.action }}</a></td>
                            <td class="text-end">{{ petition.signatures }}</td>
                        </tr>
                      {% endfor %}
                    </body>
                </table>
              {% else %}
                {% if category.data.is_number %}
                <p class="card-text mb-0 display-6 lh-1 text-primary">{{ category.data.value|floatformat }}{% if category.data.is_percentage %}%{% endif %}</p>
                    {% if category.data.average %}
                    <p class="card-text mt-2 text-muted">{{ category.data.average|floatformat }}{% if category.data.is_percentage %}%{% endif %} national average</p>
                    {% endif %}
                {% else %}
                <p class="card-text fs-5">{{ category.data.value }}</p>
                    {% if category.data.average %}
                    <p class="card-text mt-2 text-muted">{{ category.data.average }} national average</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="card-footer bg-white">
          {% if category.source_url %}
            <p class="card-text fs-8"><a href="{{ category.source_url }}" class="text-decoration-none text-muted">Data from {{ category.source }}</a></p>
          {% else %}
            <p class="card-text fs-8 text-muted">Data from {{ category.source }}</p>
          {% endif %}
        </div>
    </div>
</div>
