{% load humanize %}
{% load hub_filters %}

<div class="col d-flex flex-column">
    <div class="card flex-grow-1">
        <div class="card-body">
            <h5 class="card-title mb-3">{{ category.name }}</h5>
            {% if category.is_range %}
                <table class="table mb-0 js-chart" data-chart-type="bar" data-chart-direction="y">
                    <thead>
                        <tr>
                            <th scope="col">Age band</th>
                            <th scope="col" data-color="#068670">This area</th>
                            <th scope="col" data-color="#ced4da">UK average</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for range in category.data %}
                        <tr>
                            <th>{{ range.data_type.label }}</th>
                            <td>{{ range.value|floatformat }}{% if range.is_percentage %}%{% endif %}</td>
                            <td>{{ range.data_type.average|floatformat }}{% if range.is_percentage %}%{% endif %}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                </table>
              {% else %}
                {% if category.data.is_number %}
                <p class="card-text mb-0 display-6 lh-1 text-primary">{{ category.data.value|floatformat }}{% if category.data.is_percentage %}%{% endif %}</p>
                    {% if category.data.data_type.average %}
                    <p class="card-text mt-2 text-muted">{{ category.data.data_type.average|floatformat }}{% if category.data.is_percentage %}%{% endif %} national average</p>
                    {% endif %}
                {% else %}
                <p class="card-text fs-5">{{ category.data.value }}</p>
                    {% if category.data.data_type.average %}
                    <p class="card-text mt-2 text-muted">{{ category.data.data_type.average }} national average</p>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
        <div class="card-footer bg-white">
            <p class="card-text fs-8"><a href="{{ category.source_url }}" class="text-decoration-none text-muted">Data from {{ category.source }}</a></p>
        </div>
    </div>
</div>
